.about-lyrical-content {
  position: relative;
  width: 100%;
}
.article-banner {
  width: 100%;
  height: 240px;
  @media only screen and (max-width: 750px){
    height: 120px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.article-content {
  position: relative;
  padding-bottom: 65px;
  width: 100%;
  min-height: 300px;
  background-color: #f5f5f5;
  .article-nvarchar {
    margin: auto;
    padding: 25px;
    // width: 1040px;
    min-height: 400px;
    background-color: #fff;
    @media only screen and (max-width: 750px){
      padding: 25px 5px;
      // width: 100%;
    }
    .nvarchar-modules {
      padding: 0 40px;
      @media only screen and (max-width: 750px){
        padding: 0 5px;
      }
    }
    .about-us-part1{
      display: flex;
      justify-content: space-between;
      margin-bottom: 34px;
      .aboutus-part1-left {
        margin-left: 0;
        width: 195px;
        height: 195px;
        @media only screen and (max-width: 750px){
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .aboutus-part1-right {
        margin-right: 0;
        width: calc(100% - 240px);
        @media only screen and (max-width: 750px){
         width: 100%;
        }
        span {
          margin-bottom: 25px;
          display: inline-block;
          padding: 5px 10px;
          background-color: #bf2a24;
          color: #fff;
          text-align: center;
          line-height: 35px;
          font-weight: bold;
          font-size: 24px;
        }
        img {
          margin-bottom: 27px;
          @media only screen and (max-width: 750px){
            width: 80%;
          }
        }
        p {
          font-size:14px;
          font-family:Arial;
          font-weight:600;
          color:#444;
          line-height:24px;
          &:nth-of-type(2) {
            margin-bottom: auto;
          }
        }
        .aboutus-part2-circles {
          margin-top: 10px;
          width: 100%;
          display: flex;
          @media only screen and (max-width: 750px){
            display: none;
          }
          .part2-circle {
            margin: auto;
            display: flex;
            flex-direction: column;
            width: 120px;
            // height: 120px;
            background-color: #fff;
            // border: 2px solid #c92324;
            // border-radius: 50%;
            text-align: center;
            img {
              margin: 5px auto;
              @media only screen and (max-width: 1336px){
                width: 60%;
              }
            }
            span {
              display: block;
              margin: auto;
              background-color: transparent;
              &.describe {
                margin-bottom: 5px;
                font-size:14px;
                font-family:Helvetica;
                font-weight:400;
                color:rgba(68,68,68,1);
                line-height:23px;
              }
              &.num {
                margin-top: 0;
                font-size:30px;
                font-family:DINCondensed;
                font-weight:bold;
                color:#c92324;
                line-height:23px;
              }
            }
          }
        }
      }
    }
    .about-us-part2 {
      margin-bottom: 55px;
      padding: 60px 45px;
      // width: 100%;
      width: calc(100% - 240px);
      background-color: #c92324;
      border-radius: 10px;
      @media only screen and (max-width: 750px){
        padding: 20px 10px;
      }
      p {
        margin-bottom: 16px;
        font-size: 14px;
        font-family:Arial;
        font-weight:400;
        color:#fff;
        line-height:24px;
      }
    }
    // our-services
    .our-services {
      margin-bottom: 94px;
      .services-title {
        margin-bottom: 43px;
        span {
          display: inline-block;
          padding: 5px 10px;
          background-color: #bf2a24;
          color: #fff;
          text-align: center;
          line-height: 35px;
          font-weight: bold;
          font-size: 24px;
        }
      }
      .services-nvarchar {
        display: flex;
        @media only screen and (max-width: 750px){
          flex-direction: column;
        }
        img {
          width: 266px;
          height: 370px;
          margin-right: 25px;
          @media only screen and (max-width: 750px){
            display: none;
          }
        }
        .services-words {
          width: calc(100% - 281px);
          @media only screen and (max-width: 750px){
            width: 100%;
          }
          p {
            margin-bottom: 22px;
            font-size:14px;
            font-family:Arial;
            font-weight:600;
            color:rgba(74,71,72,1);
            line-height:24px;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    // our-mission
    .our-mission {
      margin-bottom: 80px;
      .mission-title {
        margin-bottom: 50px;
        span {
          display: inline-block;
          padding: 5px 10px;
          background-color: #bf2a24;
          color: #fff;
          text-align: center;
          line-height: 35px;
          font-weight: bold;
          font-size: 24px;
        }
      }
      .mission-types {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media only screen and (max-width: 750px){
          flex-direction: column;
        }
        .mission-type {
          margin: auto;
          // padding: 30px;
          padding: 15px 0;
          // width: 30%;
          width: 100%;
          // height: 366px;
          // background-color: #f5f5f5;
          transition: all .3s;
          border-radius: 4px;
          @media only screen and (max-width: 750px){
            width: 100%;
            height: auto;
            margin-bottom: 10px;
          }
          img {
            margin-bottom: 26px;
            &.normal {
              // transition: all .3s;
            }
            &.hover-show {
              display: none;
              // transition: all .3s;
            }
          }
          .mission-type-title {
            font-size: 14px;
            color: #4A4748;
            font-family:Arial;
            font-weight: bold;
            line-height: 24px;
            // transition: all .3s;
          }
          .mission-type-text {
            font-size: 14px;
            color: #4A4748;
            font-family:Arial;
            line-height: 24px;
            // transition: all .3s;
          }
          &:first-of-type {
            margin-left: 0;
          }
          &:last-of-type {
            margin-right: 0;
          }
          // &:hover {
          //   background-color: #bf2a24;
          //   img {
          //     &.normal {
          //       display: none;
          //     }
          //     &.hover-show {
          //       display: inline-block;
          //     }
          //   }
          //   .mission-type-title,
          //   .mission-type-text {
          //     color: #fff;
          //   }
          // }
        }
      }
    }
    // certificate-by
    .certificate-by {
      img {
        max-width: 100%;
      }
    }
  }
}
// 分类导航
.navigation-box {
  position: relative;
  height: 100px;
  background: transparent;
  width: 100%;
  .article-navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -80%;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 45px;
    width: 800px;
    @media only screen and (max-width: 750px){
      width: 100%;
      top: 25%;
    }
    .navigation-type {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 30%;
      height: 135px;
      border-radius: 2px;
      background-color: #fff;
      text-align: center;
      transition: all .3s;
      @media only screen and (max-width: 750px){
        height: 50px;
      }
      img {
        margin: auto;
        margin-bottom: 0;
        transition: all .3s;
        @media only screen and (max-width: 750px){
          display: none !important;
        }
        &.normal-logo {
          display: inline-block;
        }
        &.active-logo {
          display: none;
        }
      }
      a {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      .link-button {
        margin: auto;
        display: inline-block;
        width: 148px;
        height: 36px;
        background-color: #323232;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
        font-family: 'Helvetica';
        color: #fff;
        border-radius: 25px;
        font-weight: 700;
        transition: all .3s;
        @media only screen and (max-width: 750px){
          width: auto;
          padding: 0 5px;
          font-size: 13px;
          background-color: transparent;
          color: #444;
        }
      }
      &::after {
        content: '';
        position: absolute;
        background-color: #c92324;
        margin: auto;
        display: none;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        bottom: -20px;
        border: 10px solid #c92324;
        border-left-color: #f5f5f5;
        border-right-color: #f5f5f5;
        border-bottom-color: #f5f5f5;
        transition: all .3s;
      }
      &:hover,
      &.active {
        background-color: #c92324;
        &::after {
          display: block;
        }
        img {
          &.normal-logo {
            display: none;
          }
          &.active-logo {
            display: inline-block;
          }
        }
        .link-button {
          background-color: transparent;
          color: #fff;
        }
      }
    }
  }
}
// 文章大标题
.nvarchar-title {
  margin-bottom: 40px;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  font-family: 'Arial';
  color: #212121;
  border-bottom: 2px solid #212121;
  font-size: 14px;
}