.common_articles {
  .m-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @media only screen and (max-width: 767px){
      flex-direction: column;
      padding: 10px;
    }
  }
 .left-nav {
   width: 25%;
   margin-top: 0;
   @media only screen and (max-width: 767px){
     width: 100%;
   }
   .block-layered-nav {
     margin-right: 32px;
   }
   .block {
     margin: 0 32px 10px 0;
     @media only screen and (max-width: 767px){
       margin-right: 0;
     }
     .block-title {
       font-weight: 400;
       padding-bottom: 7px;
       border-bottom: 1px solid #e5e5e5;
       font-size: 1.5em;
       line-height: 1.2222em;
       span {
         font-weight: 400;
       }
     }
     .block-content {
       padding: 10px 0;
     }
   }
   .categories-lists-items {
     width: 100%;
     .categories-lists-item {
       position: relative;
       width: 100%;
       padding: 0;
       margin: 0;
       cursor: pointer;
       a {
         display: block;
         padding: 5px 10px;
         width: 100%;
         height: 100%;
         font-size: 1em;
         line-height: 1.5em;
         &:hover {
           background-color: rgba(0,0,0, 0.03);
           color: #e50640;
         }
       }
       .lists-item-title {
         font-size: 1.1em;
         line-height: 1.1428em;
         font-weight: 400;
         //margin: 0 0 10px;
         .iconfont {
           display: none;
           transform: rotateZ(0deg);
           transition: all .3s;
           @media only screen and (max-width: 767px){
             display: inline-block;
             float: right;
           }
         }
         &.active {
           .iconfont {
             transform: rotateZ(180deg);
           }
         }
       }
       .categories-lists-item-ul {
         @media only screen and (max-width: 767px){
           display: none;
         }
         li {
           a {
             padding-left: 30px;
           }
         }
       }
     }
   }
 }
  .right-content {
    width: 75%;
    margin-top: 0;
    @media only screen and (max-width: 767px){
      width: 100%;
    }
    .Crumbs {
      margin: 0 8px;
      a {
        &:hover {
          color: $hover-color;
        }
      }
      .dynamic-path {
        color: $hover-color;
      }
    }
  }
}