.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  .slick {
    @media only screen and (max-width: 1600px){
      width: 100%;
      // margin-left: -10%;
    }
    @media only screen and (max-width: 1440px){
      width: 100%;
      // margin-left: -15%;
    }
    @media only screen and (max-width: 1336px){
      width: 100%;
      // margin-left: -20%;
    }
    img {
      width: 100%;
      @media only screen and (max-width: 750px){
        width: 100%;
      }
    }
  }
  .slick-dots {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    @media only screen and (max-width: 750px){
      bottom: 10px;
    }
    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: none;
      cursor: pointer;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #fff;
      opacity: .5;
      position: relative;
      &.slick-active,
      &:hover {
        opacity: 1;
        &:after {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          background: #BF2A24;
        }
      }
      button {
        display: none;
      }
    }
  }
}