/*
 *  商品详情页面相关样式
 **/

//搜索结果列表
.products-search-level {
    background-color: #f8f8f8;
    position: relative;
    .search-level {
            width: 100%;
            height: 40px;
            background: #f0f0f0;
            border: 1px solid #f0f0f0;
            margin-bottom: 23px;
            ul {
                float: left;
                height: 100%;
                li {
                    float: left;
                    height: 100%;
                    a {
                        display: inline-block;
                        height: 100%;
                        min-width: 64px;
                        vertical-align: middle;
                        text-align: center;
                        padding: 0 10px;
                        cursor: pointer;
                        transition: all .2s;
                        line-height: 40px;
                        font-size: 12px;
                    }
                    &.active,
                    &:hover {
                        a {
                            background-color: #fff;
                            color: $hover-color;
                        }
                    }
                    &.icon {
                        span {
                            float: left;
                        }
                        div {
                            float: left;
                            width: 10px;
                            height: 40px;
                            margin-left: 5px;
                            i {
                                display: inline-block;
                                width: 10px;
                                height: 5px;
                                float: left;
                                margin: 2px 0;
                                &.arrow-up {
                                    background: url(../img/arrow-up.png) no-repeat;
                                    margin-top: 13px;
                                }
                                &.arrow-down {
                                    background: url(../img/arrow-down.png) no-repeat;
                                }
                            }
                        }
                    }
                }
            }
            >div {
                float: left;
                margin-top: 6px;
                margin-left: 20px;
                input {
                    width: 60px;
                    height: 25px;
                    border: 1px solid transparent;
                    padding-left: 10px;
                    float: left;
                    color: #999;
                    font-size: 12px;
                    &:focus {
                        border-color: #bbb;
                    }
                }
                span {
                    display: block;
                    width: 5px;
                    height: 1px;
                    background: #bbb;
                    margin: 0 5px;
                    float: left;
                    margin-top: 12px;
                }
                button {
                    width: 60px;
                    height: 25px;
                    margin-left: 10px;
                    float: left;
                    color: #fff;
                    background-color: #e4393c;
                    font-size: 12px;
                }
            }
        }
    .classified-products {
        ul {
            li {
                width: 224px;
//              height: 324px;
                border: 1px solid #ebebeb;
                border-radius: 2px;
                display: inline-block;
                margin-bottom: 43px;
                margin-right: 16px;
                transition: all .2s;
                overflow: hidden;
                cursor: pointer;
                background-color: #fff;
                .list-img {
                    width: 100%;
                    height: 222px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .list-info {
                    width: 100%;
                    height: 98px;
                    background: #fff;
                    vertical-align: middle;
                    padding-top: 25px;
                    p {
                        text-align: center;
                        margin-bottom: 30px;
                        .new-price {
                            font-size: 14px;
                            color: $hover-color;
                            margin-right: 5px;
                        }
                        .old-price {
                            text-decoration: line-through;
                            font-size: 12px;
                            color: #666;
                        }
                        i {
                            font-style: normal;
                        }
                        &.list-info-title {
                            font-size: 16px;
                            color: #333;
                            margin-bottom: 0;
                            font-weight: 600;
                            width: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            padding: 0 5px;
                        }
                    }
                }
                &:hover {
                    transform: translate3d(0, -2px, 0);
                    z-index: 2;
                    box-shadow: 0 0 10px #ccc;
                }
                &:nth-of-type(5n) {
                    margin-right: 0;
                }
                &.empty_tips {
                    width: 100%;
                    height: 100px;
                    text-align: center;
                    background: #fff;
                    box-shadow: 0 0 10px #ccc;
                    border: none;
                    line-height: 100px;
                    font-size: 16px;
                    img {
                        margin-right: 10px;
                        margin-top: -3px;
                    }
                    &:hover {
                        transform: translate3d(0, 0, 0);
                        z-index: 0;
                        box-shadow: 0 0 10px #ccc;
                    }
                }
                &.ending_empty_tips {
                    width: 100%;
                    text-align: center;
                    border: none;
                    font-size: 16px;
                    color: #666;
                    height: 25px;
                    &:hover {
                        transform: translate3d(0, 0, 0);
                        z-index: 0;
                        box-shadow: none;
                    }
                }
            }
        }
        
    }
    
}

//商品详情
.commodity-details {
    background-color: #f6f6f6;
    position: relative;
    .main-content {
      width: 1366px;
    }
    // 面包屑
    .Crumbs-box {
      overflow: hidden;
    }
    .Crumbs {
        a {
            &:last-of-type {
                color: #ca0a15;
            }
        }
    }
    .commodity_parameters {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @media only screen and (max-width: 767px){
        flex-direction: column;
      }
      .magnifierContainer {
        width: 50%;
        @media only screen and (max-width: 767px){
          width: 100%;
        }
      }
      .product-img-column {
        position: relative;
        .img-box {
          margin-bottom: 15px;
        }
        .product-image {
          max-width: 363px;
          height: 530px;
          border: 1px solid #eee;
          padding: 5px;
          margin: 0 auto;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .zoom-btn-small {
          position: absolute;
          right: 4px;
          bottom: 4px;
          padding: 0 1em;
          line-height: 2.6666em;
          z-index: 100;
          background-color: #fff;
          background-color: rgba(255,255,255,0.7);
          color: #333;
        }
        .itemslider-thumbnails {
          position: relative;
          max-width: 237px;
          height: 78px;
          margin-top: 12px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      /* div that surrounds Cloud Zoom image and content slider. */
      #surround {
        margin: auto;
        width:100%;
        min-width: 256px;
        // max-width: 480px;
        display: flex;
        flex-direction: row-reverse;
        .big-img-box {
          position: relative;
          margin-bottom: 15px;
          // padding: 5px;
          width: 100%;
          //height: 530px;
          line-height: 530px;
          border: 1px solid #eee;
          img {
            width: 100%;
          }
        }
      }
      /* Image expands to width of surround */
      img {
        &.cloudzoom {
          width:100%;
        }
      }
      /* CSS for slider - will expand to width of surround */
      #slider1 {
        // margin-left:20px;
        margin-right:15px;
        width: 60px;
        // height:78px;
        height: 848px;
        position:relative;
        @media only screen and (max-width: 1280px){
          display: none !important;
        }
        ul {
          height: 100%;
          left: 0;
          right: 0;
          top: 0;
          display: flex;
          flex-direction: column;
          li {
            width: 60px;
            height: 85px;
            padding: 0;
            border: 1px solid #eee;
            margin: 5px 0;
            img {
              height: 100%;
              width: 100%;
              border: 0;
              &:hover {
                border: 0;
              }
            }
          }
        }
        .thumbelina-but {
          height: 20px;
          width: 100%;
          line-height: 110px;
          background: transparent;
          border: 0;
          color: #333;
          font-size: 40px;
          cursor: pointer;
          // transform: rotateZ(90deg);
          &.left {
            top: -10px;
            left: 25px;
          }
          &.right {
            bottom: 0;
            
          }
        }
      }
    }
    .parameters_content {
      width: 45%;
      margin: 0 auto;
      margin-right: 0;
      padding: 0 2px;
      @media only screen and (max-width: 767px){
        width: 100%;
      }
        h4 {
            font-size: 16px;
            font-weight: bold;
            color: #2d2d2d;
            line-height: 20px;
            margin-top: 0;
        }
        .small_title {
            font-size: 14px;
            color: #8d8d8d;
            line-height: 30px;
            // margin-bottom: 5px;
        }
        .price_service {
            width: 512px;
            min-height: 120px;
            background-color: #f4ede7;
            margin: 20px 0;
            padding: 15px 10px;
            p {
                margin-bottom: 15px;
                span {
                    font-size: 12px;
                    display: inline-block;
                    min-width: 50px;
                    text-align: left;
                    i {
                        font-style: normal;
                    }   
                    &.itemlocation_span {
                        width: 50px;
                        text-indent: 8px;
                    }
                    &.itemlocation_local {
                        position: relative;
                        top: -10px;
                        margin-right: 8px;
                        font-size: 12px;
                        color: #666;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
                &.original_price {
                    margin-bottom: 0;
                    span {
                        &:last-of-type {
                            font-size: 16px;
                            color: #666;
                            text-decoration: line-through;
                        }
                    }
                }
                &.present_price {
                    margin-bottom: 10px;
                    span {
                        &:last-of-type {
                            font-size: 24px;
                            color: #db4320;
                        }
                    }
                }
                &.service {
                    span {
                        &.service-kind {
                            margin-right: 8px;
                            font-size: 12px;
                            color: #666;
                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        // 星级和评价
      .ratings {
        line-height: 15px;
        margin: 15px 0 15px;
        color: #8d8d8d;
        .rating-box {
          display: inline-block;
          vertical-align: middle;
          margin-right: 6px;
          width: 69px;
          height: 13px;
          font-size: 0;
          line-height: 0;
          background: url(../img/rating.png) 0 0 repeat-x;
          text-indent: -999em;
          overflow: hidden;
          .rating {
            width: 90%;
            float: left;
            height: 13px;
            background: url(../img/rating.png) 0 100% repeat-x;
          }
        }
        .rating-links {
          display: inline-block;
          vertical-align: middle;
          .separator {
            display: inline-block;
            vertical-align: middle;
            text-indent: -9999px;
            border-left: 1px solid #e5e5e5;
            height: 13px;
            width: 1px;
            margin: 0 3px;
          }
          a {
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
        // 简介
      .short-description {
        position: relative;
        text-align: justify;
        margin: 15px 0;
        margin-top: 0;
        line-height: 17.5px;
        // border-bottom: 2px solid #000;
        .std {
          position: relative;
        }
        p {
          font-size: 1rem;
          // margin-bottom: 25px;
          // height: 35px;
          overflow-y: hidden;
          color: #8d8d8d;
          &.active {
            height: auto;
          }
          &.std-content {
            font-size: 1rem;
            margin-bottom: 10px;
            color: #8d8d8d;
            height: auto;
          }
        }
        textarea {
          width: 100%;
          font-size: 1rem;
          margin-bottom: 30px;
          height: auto;
          overflow-y: hidden;
          color: #8d8d8d;
          &.active {
            height: auto;
          }
        }
        a {
          position: absolute;
          right: 0;
          bottom: 8px;
          &.active {
            transform:rotateZ(180deg);
          }
        }
      }
        // 新版商品价格等展示
        .product-price {
          display: flex;
          flex-direction: row;
          position: relative;
          overflow: hidden;
          height: 45px;
          line-height: 30px;
          border-bottom: 2px solid #ca0a15;
          margin-bottom: 20px;
          p {
            margin-right: 14px;
            font-size: 24px;
            color: #aaa;
            i {
              font-style: normal;
            }
            &.old-price{
              font-size: 16px;
              color: #a8a8a8;
              text-decoration: line-through;
              line-height: 35px;
            }
            &.special-price {
              color: #ca0a15;
              font-weight: bold;
            }
          }
          .free-shipping {
            position: absolute;
            font-size: 12px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            width: 250px;
            background: #29aae1;
            color: #fff;
            right: -90px;
            top: 22px;
            transform: rotate(45deg);
          }
        }
      .tier-prices {
        display: flex;
        font-size: 15px;
        margin: 20px 0;
        flex-wrap: wrap;
        li {
          width: 32%;
          padding: 5px 0;
          text-align: center;
          border: 1px solid #ccc;
          line-height: 20px;
          margin: 5px 0;
          cursor: pointer;
          .benefit {
            margin-top: 5px;
            color: #444;
            font-weight: 600;
          }
          &:hover,
          &.active {
            border-color: #ee001c;
          }
        }
      }

        .priceOfpro {
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 10px;
          margin-bottom: 5px;
          @media only screen and (max-width: 750px){
            flex-direction: column;
          }
          span {
            display: inline-block;
            min-width: 50px;
            font-size: 12px;
            text-align: left;
            line-height: 40px;
            &.dynamic_name {
              position: relative;
              width: 30%;
              line-height: 35px;
              word-break: break-word;
              white-space: normal;
              letter-spacing: normal;
              margin-right: 5px;
              font-size: 14px !important;
              font-weight: 400;
              color: #5b5b5b;
            }
            i {
                font-style: normal;
            }
            &:last-of-type {
                font-size: 12px;
            }
            &:first-of-type {
                font-size: 12px;
            }
            &.buy_numbers {
              width: 36px;
              height: 36px;
              line-height: 36px;
              float: left;
              margin-right: 5px;
              font-size: 16px;
              font-weight: 400;
              margin-top: 10px;
              color: #5b5b5b;
            }
          }
          ul {
            overflow: hidden;
            float: right;
            width: 89%;
            li {
              width: 120px;
              height: 40px;
              border: 1px solid #d9d9d9;
              text-align: center;
              line-height: 40px;
              float: left;
              margin-right: 8px;
              margin-bottom: 9px;
              cursor: pointer;
              &.active,
              &:hover {
                border-color: $hover-color;
              }
            }
          }
          select {
            width: 70%;
            height: 35px;
            line-height: 35px;
            border: 0;
            border-bottom: 1px dashed #c9caca;
            text-align: center;
            outline: none;
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            padding-right: 20px;
            padding-left: 5px;
            background: url("../img/arrow-down.png") no-repeat scroll right center transparent;
            background-position-x: 98%;
            &::-ms-expand {
                display: none;
            }
          }
          .quantity_control {
              display: inline-block;
              overflow: hidden;
              margin-top: 4px;
              span {
                height: 36px;
                line-height: 36px;
                width: 36px;
                background: #efefef;
                color: black;
                text-align: center;
                float: left;
                margin: 8px 4px;
                cursor: pointer;
                display: inline-block;
                min-width: 32px;
                font-size: 22px;
                &.no_allow {
                  cursor: not-allowed;
                  color: #d9d9d9;
                }
              }
              input {
                margin-top: 8px;
                display: inline-block;
                height: 36px;
                line-height: 36px;
                width: 36px;
                border: none;
                background: #efefef;
                float: left;
                text-align: center;
                color: #888;
              }
          }
          .priceOfpro-left {
            display: flex;
            .more-price {
              margin: auto 10px;
            }
          }
          .priceOfpro-right {
            margin: auto 0;
            cursor: pointer;
            color: #ee001c !important;
          }
        }
      .availableSold {
        display: flex;
        button {
          margin: auto 0;
          border: 1px solid #bc8c61;
          font-size: 16px;
          color: #000;
          background-color: transparent;
          height: 35px;
          text-align: center;
          &:hover {
            background: #bc8c61;
            color: #fff;
          }
        }
        span {
          i {
            color: #4d80bf;
          }
        }
      }
        //添加购物车与立即购买
        .addCart_buyNow {
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            a {
                display: inline-block;
                height: 50px;
                margin-right: 8px;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                // float: left;
                transition: all .3s;
                &.buy_now {
                  width: 100%;
                  border: 1px solid #ca0a15;
                  background: #ca0a15;
                  font-size: 18px;
                  color: #fff;
                  margin-bottom: 10px;
                  &.for_show_login {
                    width: 100%;
                    margin-bottom: 20px;
                  }
                }
                &.add_carts {
                  width: 100%;
                  font-size: 18px;
                  color: #ca0a15;
                  background: transparent;
                  border: 1px solid #ca0a15;
                  //background: $hover-color;
                }
                &.add_favourites {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  width: 94%;
                  text-align: right;
                  //min-width: 50px;
                  color: #e50012;
                  line-height: normal;
                  padding: 0 5px;
                  img {
                    width: 12px;
                    margin: auto 0;
                  }
                  span {
                    display: block;
                    font-size: 12px;
                    margin: auto 60px auto 5px;
                  }
                  &:hover,
                  &.active {
                    span {
                      color: #e50012;
                    }
                  }
                }
            }
        }
    //  运费等介绍
      .shipping-detail {
        width: 100%;
        overflow: hidden;
        font-size: 14px;
        .content-box {
          margin: 5px 0;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
        .info-title {
          margin-right: 5px;
        }
        .info-content {
          width: 80%;
          color: #515151;
          .info-content-price {
            color: #000;
            font-weight: 400;
          }
          .info-content-details {
            text-decoration: underline;
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
    // 社会化分享
  .socialization {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 57px;
    .socialization-email {
      text-align: left;
      padding-bottom: 10px;
      a {
        padding: 5px;
        display: inline-block;
        margin: 5px 2px 5px;
        transition: all .2s ease-in-out;
        &:hover {
          transform: translateY(-4px);
        }
      }
      .iconfont {
        font-size: 28px;
        color: #666;
      }
    }
  }
  .addthis_inline_share_toolbox {
    text-align: left;
    padding-bottom: 10px;
  }
    //猜你喜欢
    .guess_like {
        width: 204px;
        height: 520px;
        background: #fff;
        float: right;
        overflow: hidden;
        >p {
            text-align: center;
            margin: 10px 0;
            span {
                &.line {
                    display: inline-block;
                    width: 30px;
                    border-top: 1px solid #ccc ;
                    vertical-align: 4px;

                }
            }
        }
        ul {
            padding: 0 28px;
            li {
                div {
                    width: 150px;
                    height: 124px;
                    img {
//                      width: 100%;
                        height: 100%;
                    }
                }
                p {
                    text-align: center;
                    span {
                        display: inline-block;
                        height: 35px;
                        line-height: 35px;
                        &.present_price {
                            font-size: 14px;
                            color: #DB4320;
                            text-align: right;
                        }
                        &.original_price {
                            font-size: 12px;
                            color: #999;
                            text-decoration: line-through;
                            text-align: left;
                        }
                        i {
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
    .comments_details {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 40px;
        overflow: hidden;
        background-color: #fff;
        .comments_details_left {
            width: 211px;
            background: #fff;
            margin-right: 8px;
            >ul {
                height: 38px;
                border-bottom: 1px solid $hover-color;
                overflow: hidden;   
                li {
                    float: left;
                    width: 100%;
                    text-align: center;
                    line-height: 38px;
                    background-color: #f0f0f0;
                    cursor: pointer;
                    &.curr {
                        //color: #fff;
                        //background-color: $hover-color;
                    }
                }
            }
            .tabcon {
                width: 100%;
                .pro-lists {
                    width: 100%;
                    padding: 0 25px;
                    padding-bottom: 50px;
                    li {
                        margin-top: 20px;
                        div {
                            width: 160px;
                            height: 160px;
                            img {
//                              width: 100%;
                                height: 100%;
                            }
                        }
                        p {
                            text-align: center;
                            color: #db4320;
                            font-size: 14px;
                            margin-top: 5px;
                            i {
                                font-style: normal;
                            }
                            span {
                                &.presenthis_name {
                                    color: #636b6f;
                                    display: inline-block;
                                    width: 100%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }
            }
        }
        .comments_details_right {
            width: 100%;
            >ul {
              padding: 20px 50px;
              padding-bottom: 0;
              position: relative;
              border-bottom: 1px solid #e5e5e5;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              @media only screen and (max-width: 750px){
                padding: 0 5px;
              }
              li {
                font-size: 14px;
                cursor: pointer;
                min-width: 120px;
                text-align: center;
                line-height: 38px;
                background-color: transparent;
                padding: 4px 10px;
                transition: all .3s;
                @media only screen and (max-width: 750px){
                  min-width: 60px;
                }
                &.curr {
                  position: relative;
                  color: #fff;
                  background-color: #cf0a14;
                  &::after {
                    content: '';
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 10px;
                    border: 10px solid #cf0a14;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                  }
                }
              }
            }
            .tabcon {
                .pro-detail-lists {
                    width: 100%;
                    overflow: hidden;
                    padding: 40px 20px;
                    background: #fff;
                    border-bottom: 1px solid #ebebeb;
                    font-size: 14px;
                    li {
                        width: 235px;
                        float: left;
                        text-align: left;
                        margin-bottom: 15px;
                        span {
                            float: left;
                            display: inline-block;
                            &:last-of-type {
                                width: 150px;
                                overflow: hidden;
                                text-overflow:ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
                .pro-detail-imgs {
                    width: 100%;
                    overflow: hidden;
                    background: #fff;
                    text-align: center;
                    img {
                        margin: auto;
                    }
                }
                .comment-score {
                    height: 150px;
                    background: #fff;
                    overflow: hidden;
                    li {
                        width: 33%;
                        float: left;
                        text-align: center;
                        margin-top: 25px;
                        color: #333;
                        span {
                            font-size: 14px;
                        }
                        h3 {
                            font-size: 32px;
                            margin-top: 10px;
                        }
                    }
                }
                .comment-items {
                    margin-top: 10px;
                    background-color: #fff;
                    .items-title {
                        width: 100%;
                        height: 30px;
                        background: #f0f0f0;
                        overflow: hidden;
                        a {
                            display: inline-block;
                            font-size: 12px;
                            line-height: 30px;
                            margin-left: 30px;
                            cursor: pointer;
                            &.active,
                            &:hover {
                                color: $hover-color;
                            }
                        }
                    }
                    .item {
                        overflow: hidden;
                        border-bottom: 1px dashed #ebebeb;
                        padding: 0 10px;
                        margin-top: 20px;
                        padding-bottom: 25px;
                        .evaluation_results_left {
                            float: left;
                            width: 100px;
                            text-align: center;
                            .eva_user_img {
                                width: 50px;
                                height: 50px;
                                overflow: hidden;
                                border-radius: 100%;
                                margin: auto;
                                margin-bottom: 20px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .evaluation_results_right {
                            float: left;
                            .product_parameters,
                            .eva_date {
                                font-size: 12px;
                                color: #999;
                                margin-top: 5px;
                            }
                            .eva_text {
                                font-size: 14px;
                                color: #666;
                                margin: 20px 0;
                            }
                            .evaluation_img {
                                overflow: hidden;
                                margin-top: 5px;
                                li {
                                    float: left;
                                    width: 140px;
                                    height: 140px;
                                    border: 1px solid #ebebeb;
                                    margin-right: 10px;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .no_eva {
                        width: 100%;
                        height: 300px;
                        text-align: center;
                        line-height: 300px;
                        font-size: 20px;
                    }
                }
                .paging_box {
                    width: 100%;
                    text-align: right;
                    background-color: #fff;
                    padding: 25px 20px; 
                    a {
                        display: inline-block;
                        min-width: 86px;
                        height: 34px;
                        border: 1px solid $hover-color;
                        color: $hover-color;
                        text-align: center;
                        line-height: 34px;
                        margin-left: 8px;
                        transition: all .2s;
                        padding: 0 5px;
                        &:hover {
                            background-color: $hover-color;
                            color: #fff;
                        }
                        &.not_allow {
                            color: #ebebeb;
                            border-color: #ebebeb;
                            cursor: not-allowed;
                            &:hover {
                                background-color: transparent;
                                color: #ebebeb;
                            }
                        }
                    }
                }
                &.product_info {
                    background-color: #fff;
                    padding: 35px 50px;
                    min-height: 1000px;
                    overflow: hidden;
                    @media only screen and (max-width: 750px){
                      width: 100%;
                      padding: 35px 5px;
                    }
                    img {
                        width: 100%;
                    }
                    // 详情表格
                    .product_info_table {
                      padding: 10px 20px 10px 20px;
                      margin-bottom: 50px;
                      width: 100%;
                      border: 1px solid #ccc;
                      background-color: #f6f6f6;
                      .info_table_title {
                        margin: 0;
                        padding-bottom: 10px;
                        font-size: 16px;
                        font-weight: bold;
                      }
                      .info_table_tbody {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        @media only screen and (max-width: 750px){
                          flex-direction: column;
                        }
                        li {
                          display: flex;
                          margin: auto;
                          margin-top: 0;
                          margin-left: 0;
                          width: 50%;
                          line-height: 25px;
                          // border: 1px solid #ccc;
                          @media only screen and (max-width: 750px){
                            width: 100%;
                          }
                          span {
                            display: inline-block;
                          }
                          .info_table_name {
                            min-width: 135px;
                            max-width: 135px;
                            font-weight: 600;
                            @media only screen and (max-width: 750px){
                              min-width: 65px;
                            }
                          }
                          .info_table_content {
                            width: calc(100% - 145px);
                            padding: 0 10px;
                          }
                        }
                      }
                    }
                    // 详情内的导航
                    .category-description-title {
                      display: flex;
                    }
                    .category-iframe-title {
                      position: relative;
                      padding: 0 20px;
                      margin-bottom: 25px;
                      width: 240px;
                      font-size: 20px;
                      @media only screen and (max-width: 750px){
                        display: none;
                      }
                      &::before {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 20px;
                        background-color: #c30e15;
                        top: 0;
                        left: 0;
                      }
                      &.title-description {
                        margin-left: 30px;
                        @media only screen and (max-width: 750px){
                          margin-left: 10px;
                          display: block;
                        }
                      }
                    }
                    .category-iframe {
                      display: flex;
                      .particulars-category {
                        margin: 0 auto;
                        margin-left: 0;
                        width: 240px;
                        background-color: #f6f6f6;
                        color: #7a7a7a;
                        padding: 30px 10px;
                        font-size: 14px;
                        height: max-content;
                        @media only screen and (max-width: 750px){
                         display: none;
                        }
                        ul {
                          width: 100%;
                          li {
                            margin: 10px 0px;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            span {
                              margin-right: 5px;
                            }
                          }
                        }
                      }
                      .particulars-content {
                        margin: 0 auto;
                        margin-right: 0;
                        width: calc(100% - 260px);
                        @media only screen and (max-width: 750px){
                          width: 100%;
                        }
                        h3 {
                          margin-top: 0;
                        }
                      }
                    }
                }
            }
          .faqs-content {
            padding: 10px;
            .faq_qus_ans {
              border: 0;
              padding: 19px;
              margin-bottom: 10px;
              background: #faf9f9;
              .faq_ques {
                margin: 0;
                color: #5e656a;
                font-size: 18px;
                line-height: 22px;
                font-weight: normal;
                position: relative;
                cursor: pointer;
                span {
                  float: right;
                }
              }
              .faq_ans {
                display: none;
                color: #686e73;
                font-size: 16px;
                line-height: 28px;
                font-weight: 400;
                margin: 15px 0 0;
                textarea {
                  width: 100%;
                  background-color: transparent;
                  font-size: 1.15rem;
                }
              }
            }
          }
          .Shipping-content {
            width: 100%;
            padding: 20px;
            .Shipping-part {
              width: 100%;
              border: 1px solid #ccc;
              padding: 9px 11px;
              margin-bottom: 10px;
              .Shipping-part-title {
                margin: 10px 0;
                font-size: 16px;
                font-weight: bold;
                color: #333;
              }
              .part-title-th {
                background-color: #e8e8e8;
                border-bottom: 1px solid #c4c4c4;
                color: #333;
                padding: 10px 20px;
                text-align: left;
              }
              .part-title-tr {
                word-wrap: break-word;
                vertical-align: top;
                padding: 10px 20px;
                a {
                  color: #0654ba;
                }
              }
            }
            .Shipping-handling {
              .reademoresp {
                margin-bottom: 20px;
                font-size: 14px;
              }
              .location-word {
                margin-bottom: 10px;
                color: #5d5d5d;
                span {
                  color: #333;
                  font-size: 14px;
                }
              }
              .Shipping-countries {
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
                .countries-part {
                  width: 75%;
                  @media only screen and (max-width: 750px){
                    width: 100%;
                  }
                }
                .intro-part {
                  display: flex;
                  width: 24%;
                  @media only screen and (max-width: 750px){
                    display: none;
                  }
                  img {
                    margin: auto;
                    margin-right: 10px;
                    margin-top: 0;
                  }
                  p {
                    margin: 0 auto;
                  }
                }
              }
              .country-quantity {
                margin-bottom: 15px;
                display: flex;
                justify-content: flex-start;
                @media only screen and (max-width: 750px){
                  display: none;
                }
                div {
                  margin: auto;
                  @media only screen and (max-width: 750px){
                    margin-bottom: 10px;
                  }
                }
                .Quantity-part {
                  margin-left: 0;
                  margin-right: 30px;
                  input {
                    border: 1px solid #999;
                    padding: .5em;
                    width: 70px;
                    height: 28px;
                  }
                }
                .country-part {
                  margin-left: 0;
                  margin-right: 50px;
                  select {
                    width: 160px;
                    height: 28px;
                    border: 1px solid #999;
                    border-radius: 4px;
                  }
                }
                .button-part {
                  margin-left: 0;
                  a {
                    display: inline-block;
                    padding-left: 5px;
                    padding-right: 5px;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #ddd;
                    background: #f8f8f8;
                    color: #0654ba;
                    border-radius: 3px;
                    box-shadow: 0 3px 0 rgba(0,0,0,0.04);
                    vertical-align: baseline;
                    text-align: center;
                  }
                }
              }
              .country-quantity-table {
                @media only screen and (max-width: 750px){
                  display: none;
                }
                .part-title-th,
                .part-title-tr {
                  display: flex;
                  border-bottom: 1px solid #ccc;
                  div {
                    padding: 5px;
                  }
                  .shop-hand {
                    width: 15%;
                  }
                  .import-change {
                    width: 20%;
                  }
                  .tolocal {
                    width: 10%;
                  }
                  .ship-servive {
                    width: 25%;
                  }
                  .ship-delivery {
                    width: 30%;
                  }
                }
                .table-intro {
                  padding: 10px 20px;
                  a {
                    color: #0654ba;
                  }
                }
              }
            }
          }
            .browseFootprints {
                width: 100%;
                min-height: 450px;
                background-color: transparent;
                margin-top: 20px;
                .browseFootprints_title {
                    height: 35px;
                    width: 100%;
                    margin-bottom: 20px;
                    margin-bottom: 15px;
                    background-color: #f0f0f0;
                    p {
                        padding-left: 20px;
                        line-height: 35px;
                    }
                }
                .browseFootprints_content {
                    background-color: #fff;
                    ul {
                        overflow: hidden;
                        padding: 0 20px;
                        margin-bottom: 20px;
                        li {
                            position: relative;
                            width: 220px;
                            margin: 25px 6px;
                            text-align: center;
                            float: left;
                            .collection_shop_img {
                                width: 230px;
                                height: 230px;
                                border: 1px solid #f1f1f1;
                                position: relative;
                                overflow: hidden;
                                margin-bottom: 20px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .commodity_title {
                                font-size: 13px;
                                color: #333;
                                font-weight: 600;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .collection_price {
                                font-size: 12px;
                                margin: 15px 0;
                                .new_price {
                                    color: #bc8c61;
                                    margin-right: 5px;
                                }
                                .old_price {
                                    color: gray;
                                    text-decoration: line-through;
                                }
                            }
                            .add_to_cart {
                                display: block;
                                width: 175px;
                                height: 30px;
                                border: 1px solid #bc8c61;
                                color: #bc8c61;
                                line-height: 30px;
                                font-size: 12px;
                                border-radius: 4px;
                                margin: auto;
                                transition: all .2s;
                                &:hover{
                                    background-color: #bc8c61;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
//  友情推荐
  .box-additional {
    width: 100%;
    .box-additional-title {
      position: relative;
      width: 100%;
      padding: 7px 0;
      //margin-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
      h2 {
        font-size: 21px;
        padding-right: 80px;
        font-weight: 400;
      }
    }
    .carousel-content {
      position: relative;
      #carousel {
        .swiper-slide {
          padding: 20px 10px;
          .swiper-slide-item {
            width: 100%;
            overflow: hidden;
            margin-bottom: 10px;
            >div {
              float: left;
              &.product-image {
                width: 100px;
                height: 145px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              &.product-details {
                margin-left: 10px;
                width: 65%;
                h3 {
                  margin-top: 0;
                  margin-bottom: 5px;
                  font-size: 1em;
                  line-height: 1.25em;
                  font-family: inherit;
                  font-weight: inherit;
                  display: inline-block;
                }
                .price-box {
                  margin-bottom: 5px;
                  i {
                    font-style: normal;
                  }
                  .present_price {
                    color: #ee001c !important;
                  }
                  .original_price {
                    margin-right: 15px;
                    font-size: 1em;
                    line-height: 1.25em;
                    color: #aaa;
                    text-decoration: line-through;
                  }
                }
                .related-add-to-wishlist {
                  font-size: 1em;
                  line-height: 1.25em;
                  font-family: inherit;
                  font-weight: inherit;
                  display: inline-block;
                  color: #aaa;
                }
              }
            }
          }
        }
      }
    }
    .swiper-button-box {
      position: absolute;
      right: 0;
      bottom: 5px;
      width: 61px;
      height: 30px;
      overflow: hidden;
      div {
        top: 0;
        margin-top: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        overflow: hidden;
        background-color: #eeeeee;
        background-size: 30%;
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
    }
  }
//  评价新格式
  .comment-items {
    font-size: 1rem;
    .heading {
      font-weight: 400;
      font-size: 1.5em;
      margin-right: 10px;
    }
    dd {
      margin: 0 0 15px 15px;
      padding-bottom: 15px;
      border-bottom: 1px dashed #e5e5e5;
    }
    .ratings-table {
      margin: 5px 0;
      th,
      td {
        line-height: 1.1666em;
        padding: 3px 0;
      }
      th {
        padding-right: 8px;
      }
      .rating-box {
        width: 69px;
        height: 13px;
        font-size: 0;
        line-height: 0;
        background: url(../img/rating.png) 0 0 repeat-x;
        text-indent: -999em;
        overflow: hidden;
        .rating {
          float: left;
          height: 13px;
          background: url(../img/rating.png) 0 100% repeat-x;
        }
      }
    }
    .date {
      display: block;
      margin-top: 3px;
      font-style: italic;
      color: #aaa;
      font-size: 1rem;
    }
  }
}
// 社会化分享弹窗
.social-email {
  width: 450px;
  @media only screen and (max-width: 767px){
    width: 85%;
  }
  .social-email-content {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  input {
    margin-top: 5px;
    height: 35px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  textarea {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
  }
  .product-share-info {
    .product-share-img {
      width: 100%;
      padding: 10px;
      background-color: #f0f1f7;
      img {
        width: 100%;
      }
    }
    .product-share-title {
      p {
        font-size: 0.85rem;
      }
    }
    .product-share-price {
      color: #ee001c;
      i {
        font-style: normal;
      }
    }
  }
  h2 {
    margin: 5px 0;
    font-size: 1.8rem;
  }
}
// 放大镜
.page {
  padding: 5px 30px 30px 30px;
  max-width: 800px;
  margin: 0 auto;
  color: #555;
}
/* Lightbox */
.sp-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .5);
  z-index: 500;
  display: none;
  cursor: pointer;
  img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    border: 2px solid #fff;
  }
}
#sp-prev,
#sp-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 501;
  color: #fff;
  padding: 14px;
  text-decoration: none;
  background: #000;
  border-radius: 25px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transition: .2s;
  &:hover {
    background: #444;
  }
}
#sp-prev {
  left: 10px;
  &:before {
    content: '';
    border: 7px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    top: 16px;
    left: 7px;
  }
}
#sp-next {
  right: 10px;
  &:before {
    content: '';
    border: 7px solid transparent;
    border-left: 15px solid white;
    position: absolute;
    top: 16px;
    left: 18px;
  }
}
// 自定义sku选择器
.sku-choose-store {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 135px;
  font-size: 16px;
  .loading-box {
    margin: auto;
  }
  .sku-select {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 0;
  }
  .sku-select-name {
    width: 30%;
    line-height: 35px;
    color: #5b5b5b;
  }
  .sku-select-module {
    position: relative;
    width: 70%;
  }
  .sku-select-value {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
    padding-right: 20px;
    padding-left: 5px;
    background: url("../img/arrow-down.png") no-repeat scroll right center transparent;
    background-position-x: 98%;
    cursor: pointer;
    span {
      display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #5b5b5b;
    }
    &.select-for-show {
      background: none;
      border: 0;
    }
  }
  .sku-select-options {
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c9caca;
    border-top: 0;
    overflow-x: hidden;
    z-index: 1;
    &.option-img-width {
      width: 117%;
    }
    ul {
      padding: 5px 0;
      width: 100%;
      max-height: 250px;
      overflow-y: auto;
      &.chooseType-color {
        display: flex;
        flex-wrap: wrap;
      }
    }
    li {
      display: flex;
      padding: 5px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #5b5b5b;
      &:hover {
        color: #fff;
        background-color: #ca0a15;
      }
      &.forbid-choose-style {
        color: #eee;
      }
      .text-span {
        margin-right: 5px;
        display: inline-block;
        max-width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .price-span {
        display: inline-block;
        color: #E50012;
      }
      // 图片选项
      &.color-img-choose {
        position: relative;
        padding: 3px;
        margin-bottom: 8px;
        width: 60px;
        height: 60px;
        background-color: #f6f6f6;
        .color-name {
          position: absolute;
          left: 5px;
          top: 3px;
          color: #333;
          font-size: 12px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
