footer {
  position: relative;
  width: 100%;
  .footer-top {
    width: 100%;
    height: 248px;
    @media only screen and (max-width: 750px){
      display: none;
    }
    ul {
      height: 100%;
      display: flex;
      li {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
        }
        img {
          margin: auto;
          margin-bottom: 32px;
        }
        span {
          color: #666;
          font-size: 14px;
          line-height: 20px;
          &.part-title {
            margin-bottom: 21px;
            font-size: 16px;
            color: #000;
          }
        }
      }
    }
  }
  .footer-center {
    height: 300px;
    background: url(../img/footer/footer-bg.png) center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    .subscribe-form {
      >img {
        margin-top: 71px;
        margin-bottom: 30px;
        @media only screen and (max-width: 750px){
          display: none;
        }
      }
      >p {
        display: none;
        font-size: 14px;
        color: #fff;
        opacity: .6;
        @media only screen and (max-width: 750px){
          display: block;
          margin-top: 25px;
        }
        &.last-subscribe {
          margin-bottom: 44px;
        }
      }
      >input {
        margin-top: 40px;
        padding: 19px 0;
        width: 400px;
        background: transparent;
        color: #fff;
        text-align: center;
        border: 0;
        border-bottom: 1px solid #fff;
        @media only screen and (max-width: 750px){
          width: 60%;
        }
      }
      >button {
        padding: 10px;
        position: relative;
        top: 10px;
        background-color: #ccc;
        border: 1px solid #ccc;
        left: -4px;
        &:hover {
          background-color: #bf2a24;
          border-color: #bf2a24;
        }
      }
    }
    // Start From 1 Piece
    .Start-subscribe {
      display: block;
      width: 259px;
      height: 65px;
      line-height: 65px;
      text-align: center;
      margin: 0 auto;
      background-color: #bf2a24;
      border-radius: 6px;
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      transition: all .5s;
      border: 1px solid #bf2a24;
    }
    // 订阅弹窗
    .popup-wrap {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      top: 0;
      left: 0;
      align-items: center;
      z-index: 9999999;
      display: none;
      &.active {
        display: flex;
        justify-content: center;
      }
      .the-popup {
        position: relative;
        max-width: 585px;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        padding: 40px 40px 40px;
        box-sizing: border-box;
        @media only screen and (max-width: 1440){
          padding: 40px 40px 20px;
        }
        @media only screen and (max-width: 750px){
          padding: 20px;
          height: 80%;
          overflow: auto;
        }
        .close-popup {
          position: absolute;
          right: 15px;
          top: 15px;
          font-size: 20px;
        }
        h3 {
          margin-bottom: 20px;
          margin-top: -10px;
          text-align: left;
          font-size: 30px;
          color: #333;
          font-family: AvenirNext;
          // font-weight: 600;
          font-style: normal;
          padding-bottom: 10px;
          border-bottom: 4px solid #b42527;
        }
        .Connect-tip {
          margin-bottom: 20px;
          display: flex;
          width: 100%;
          padding: 15px 10px;
          background-color: #f8f8f8;
          border-radius: 8px;
          p {
            color: #333;
            font-size: 12px;
            font-family: AvenirNext;
          }
          img {
            margin: auto 0;
            margin-right: 10px;
            width: 20%;
          }
        }
        p {
          margin-bottom: 10px;
          font-size: 16px;
          color: #333;
          font-weight: 600;
          font-style: normal;
          text-align: left;
          span {
            color: #b42527;
          }
        }
        input {
          margin-bottom: 30px;
          padding: 10px;
          width: 100%;
          box-shadow: none;
          border: none;
          border-bottom: 1px solid #d9d9d9;
          background: 0 0;
          color: #666;
          @media only screen and (max-width: 1440){
            margin-bottom: 20px;
          }
          &:focus {
            color: #bf2a24;
            background-color: rgba(233,245,252,1)!important;
          }
        }
        textarea {
          max-height: 150px;
          width: 100%;
          height: 100px;
          resize: none;
          color: #666;
          border-bottom: 1px solid #d9d9d9;
          padding: 10px;
          &:focus {
            color: #bf2a24;
            background-color: rgba(233,245,252,1)!important;
          }
        }
        .textarea-li {
          margin-bottom: 20px;
        }
        button {
          position: relative;
          overflow: hidden;
          border-radius: 5px;
          width: 100%;
          padding: 8px 30px;
          font-size: 16px;
          margin-right: 0;
          background-color: #bf2a24;
          box-shadow: none;
          min-height: 56px;
          font-size: 18px;
          font-weight: 400;
          font-style: normal;
        }
      }
    }
  }
  .footer-bottom {
    padding-top: 80px;
    padding-bottom: 32px;
    width: 100%;
    background-color: #F5F5F5;
    @media only screen and (max-width: 750px){
      padding-top: 20px;
    }
    .footer-logo {
      margin-bottom: 49px;
      @media only screen and (max-width: 750px){
        margin-bottom: 19px;
        text-align: center;
        img {
          width: 80%;
        }
      }
    }
    .footer-menu {
      margin-bottom: 121px;
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 1440px){
        margin-bottom: 60px;
        flex-direction: column;
      }
      @media only screen and (max-width: 750px){
        margin-bottom: 20px;
      }
      ul {
        display: flex;
        @media only screen and (max-width: 750px){
          width: 100%;
          flex-direction: column;
        }
        li {
          margin: auto 0;
          margin-right: 108px;
          margin-top: 0;
          @media only screen and (max-width: 1440px){
            margin-right: 50px;
          }
          @media only screen and (max-width: 750px){
            margin: 10px 0;
            width: 100%;
          }
          p {
            margin-bottom: 29px;
            font-size:16px;
            color: #000;
            @media only screen and (max-width: 750px){
              margin-bottom: 10px;
              font-size:14px;
            }
            .iconfont {
              float: right;
              display: none;
              @media only screen and (max-width: 750px){
                display: inline-block;
              }
            }
          }
        }
        .footer-block-content {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          color: #666;
          line-height: 30px;
          @media only screen and (max-width: 750px){
            display: none;
          }
          a {
            display: block;
            transition: all .3s;
            &:hover {
              color: #bf2a24;
            }
          }
        }
      }
      .footer-share {
        margin: auto;
        margin-right: 0;
        margin-top: 0;
        @media only screen and (max-width: 1440px){
          margin-right: auto;
          margin-left: 0;
          margin-top: 10px;
        }
        @media only screen and (max-width: 750px){
          width: 100%;
          display: flex;
        }
        p {
          margin-bottom: 35px;
          font-size:16px;
          color: #000;
          @media only screen and (max-width: 750px){
            margin-bottom: 10px;
            margin: auto 5px;
          }
        }
        .footer-share-items {
          display: flex;
          .social-share {
            .social-share-icon {
              width: 36px;
              height: 36px;
              line-height: 36px;
              color: #000 !important;
              border-color: transparent !important;
              background: #000 !important;
              transition: background 0.3s ease-out 0s;
              &:before {
                color: #fff !important;
              }
              &:hover {
                background: #BF2A24 !important;
              }
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
    }
    .friendly-link {
      text-align: center;
      img {
        margin-bottom: 20px;
        @media only screen and (max-width: 750px){
          width: 80%;
        }
      }
    }
  }
  // 合作伙伴图片区
.partner-logo {
  padding: 15px 0;
  display: flex;
  width: 100%;
  background: #fff;
  div {
    margin: auto;
    a {
      display: flex;
      flex-direction: column;
      text-align: center;
      span {
        margin: auto;
        // margin-bottom: 21px;
        font-size: 16px;
        color: #000;
      }
    }
    &:last-of-type {
      img {
        height: 32px !important;
      }
    }
  }
  img {
    margin: auto;
    margin-bottom: 10px;
    width: 140px;
    height: 45px;
    &:first-of-type {
      height: 50px;
    }
    @media only screen and (max-width: 750px){
      width: 30%;
    }
  }
}
}
// 右侧返回顶部
//右侧导航
.right_navigation {
  width: 50px;
  height: 100%;
  position: fixed;
  z-index: 990;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: 767px){
    display: none;
  }
  ul {
      margin: auto 0;
      // height: 104px;
      li {
        position: relative;
        margin-bottom: 2px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #000;
        &:hover {
          background: #BF2A24;
        }
      }
      .qr_info {
        display: none;
        width: 160px;
        min-height: 150px;
        position: relative;
        right: 165px;
        top: -50px;
        border-radius: 2px;
        background-color: #fff;
        text-align: center;
        transition: all .2s;
        padding-bottom: 10px;
        box-shadow: 0px 0px 5px #999;
        img {
            margin-top: 15px;
            width: 120px;
        }
        a {
            display: block;
            width: 160px;
            height: 38px;
            color: #fff;
            background-color: #80ad26;
            border-radius: 19px;
            line-height: 38px;
            font-size: 16px;
            margin: 15px auto;
        }
        p {
            font-size: 12px;
            color: #999;
            text-align: center;
        }
      }
      .social-share {
        .social-share-icon {
          width: 36px;
          height: 36px;
          line-height: 36px;
          color: transparent !important;
          border-color: transparent !important;
          background: transparent !important;
          transition: background 0.3s ease-out 0s;
          &:before {
            color: #fff !important;
          }
          &:hover {
            background: transparent !important;
          }
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
  }
  
}
