header {
  width: 100%;
  .header-top {
    background-color: #f5f5f5;
    height: 50px;
    .main-content {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

  }
  .country-language {
    margin: auto;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    @media only screen and (max-width: 750px){
      
    }
    div {
      margin-right: 20px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: -15%;
        top: 0;
        height: 100%;
        width: 1px;
        background: #dcdcdc;
      }
      &:last-of-type {
        margin-right: 0;
        @media only screen and (max-width: 750px){
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
    .dropdown {
      padding: 0 5px;
      .dropdown-menu {
        border: 0;
        border-radius: 0;
        margin-top: 15px;
      }
      &.active {
        &:hover {
          background-color: #fff;
          color: #333;
          .caret {
            color: #333;
          }
          .dropdown-menu {
            display: block;
            margin-top: 0; // remove the gap so it doesn't close
          }
        }
      }

    }
  }
  .service-commitment {
    margin: auto;
    @media only screen and (max-width: 750px){
      display: none;
    }
    img {
      &.reserve {
        transform: rotateY(180deg);
      }
    }
  }
  .register-login {
    margin: auto;
    margin-right: 0;
    display: flex;
    justify-content: flex-start;
    div {
      margin-right: 24px;
      line-height: 24px;
      @media only screen and (max-width: 750px){
        margin-right: 15px;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
    .person-center {
      @media only screen and (max-width: 750px){
        display: none;
      }
    }
    .collect {
      @media only screen and (max-width: 750px){
        display: none;
      }
    }
    .message {
      @media only screen and (max-width: 750px){
        display: none;
      }
    }
    .mobile-menu {
      display: none;
      @media only screen and (max-width: 750px){
        display: block;
      }
      .mobile-nav-list {
        padding: 10px 0;
        position: absolute;
        right: 0;
        top: 50px;
        background: #333;
        display: none;
        width: 100px;
        z-index: 9999;
        text-align: center;
        color: #fff;
      }
    }
    .shop-car {
      position: relative;
      @media only screen and (max-width: 750px){
        display: none;
      }
      .shop_cart_num {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        background: #bf2a24;
        text-align: center;
        line-height: 20px;
        top: -5px;
        right: -10px;
      }
    }
    .login-name {
      margin-right: 5px;
    }
  }
  .header-bottom {
    position: relative;
    height: 143px;
    background-color: #fff;
    padding-top: 45px;
    @media only screen and (max-width: 750px){
      padding-top: 15px;
      height: 50px;
    }
    .main-content {
      height: 100%;
      @media only screen and (max-width: 750px){
        display: flex;
        justify-content: space-between;
      }
    }
    .header-logo {
      margin-bottom: 38px;
      text-align: center;
      @media only screen and (max-width: 750px){
        margin-bottom: 18px;
        text-align: center;
        img {
          width: 50%;
        }
      }
    }
    .header-menu {
      display: flex;
      .header-search {
        position: relative;
        right: 0;
      }
      .menu-list {
        max-width: 90%; /*写给不支持calc()的浏览器*/ 
        max-width: -moz-calc(100% - 30px); 
        max-width: -webkit-calc(100% - 30px); 
        max-width: calc(100% - 30px); 
        margin: auto;
        text-align: center;
        @media only screen and (max-width: 750px){
          display: none;
        } 
        // 一级导航
        .first-menu {
          display: flex;
          text-align: center;
          .first-tab {
            margin: auto 25px;
            &.first-tab-little {
              position: relative;
            }
            .first-nav {
              position: relative;
              color: #222;
              font-size: 14px;
              transition: all .3s;
              &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -86%;
                z-index: 85;
                width: 100%;
                height: 1px;
                background-color: transparent;
                transition: all .3s;
              }
              &:hover {
                color: #BF2A24;
                &:after {
                  background-color: #BF2A24;
                }
              }
            }
          }
        }
        // 二级导航
        .header-nav-two {
          position: absolute;
          padding: 42px 0;
          padding-top: 0;
          left: 0;
          top: 100%;
          width: 100%;
          z-index: 80;
          background-color: #fff;
          border-top: 1px solid #e9e9e9;
          box-shadow: 0px 5px 10px #ccc;
          &.nav-two-little {
            width: max-content;
            left: -32px;
            top: 155%;
            padding: 15px 32px;
          }
          .main-content {
            display: flex;
          }
          .nav-menu-more {
            margin: auto;
            margin-right: 0;
            display: flex;
            li {
              display: flex;
              flex-direction: column;
              margin-right: 75px;
              .header-nav-title {
                margin: 30px 0;
                text-align: left;
                font-size: 16px;
                color: #000;
              }
              .nav-two-menu {
                display: flex;
                flex-direction: column;
                text-align: left;
                a {
                  font-size: 14px;
                  margin: 5px 0;
                  color: #666;
                  transition: all .3s;
                  &:hover {
                    color: #BF2A24;
                  }
                }
              }
            }
          }
          .nav-menu-little {
            display: flex;
            flex-direction: column;
            li {
              margin: 15px 0;
              text-align: left;
              p {
                color: #000;
                transition: all .3s;
                &:hover {
                  color: #bf2a24;
                }
              }
            }
          }
          .header-nav-img {
            margin: auto;
            img {
              width: 280px;
              height: 280px;
            }
          }
        }
      }
    }
  }
}
.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 900;
}
// 搜索蒙层
.search-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 999;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .85;
    z-index: -1;
  }
  .main-content {
    position: relative;
    display: flex;
    height: 100%;
    margin: auto;
    .search-group {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      height: 350px;
      @media only screen and (max-width: 750px){
        width: 80%;
      }
      .input-group {
        width: 100%;
        padding-bottom: 10px;
        border: 0;
        border-bottom: 1px solid #bdbdbd;
        input {
          width: calc(100% - 50px);
          height: 37px;
          background: transparent;
          font-size: 30px;
          color: #bdbdbd;
          @media only screen and (max-width: 750px){
            width: calc(100% - 30px);
            font-size: 20px;
          }
        }
        img {
          width: 36px;
          height: 36px;
          @media only screen and (max-width: 750px){
            width: 20px;
            height: 20px;
          }
        }
      }
      .selectList {
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        ul {
          padding: 5px 0;
          li {
            margin: 5px 0;
            font-size: 14px;
            color: #bdbdbd;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
            &:hover {
              color: #bf2a24;
            }
          }
        }
      }
    }
    .close-mask {
      position: absolute;
      right: 15%;
      top: 20%;
      @media only screen and (max-width: 750px){
        right: 0;
        top: 5%;
      }
      img {
        @media only screen and (max-width: 750px){
          width: 50%;
        }
      }
    }
  }
}
