// 关于lyrical
.about-lyrical {
  width: 100%;
  height: 640px;
  background-color: #fff;
  @media only screen and (max-width: 750px){
    margin-top: 20px;
    height: auto;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    @media only screen and (max-width: 750px){
      flex-direction: column;
    }
  }
  // 关于做的简介
  .lyrical-info {
    margin: auto;
    margin-left: 0;
    width: 40%;
    text-align: left;
    @media only screen and (max-width: 750px){
      margin-bottom: 20px;
      width: 100%;
    }
    .lyrical-info-title {
      margin-bottom: 39px;
      @media only screen and (max-width: 750px){
        margin-bottom: 19px;
        text-align: center;
        img {
          width: 80%;
        }
      }
    }
    .lyrical-info-subtitle {
      color: #747474;
      font-size:16px;
      line-height:30px;
      // margin-bottom: 30px;
      @media only screen and (max-width: 750px){
        margin-bottom: 15px;
      }
    }
    .lyrical-info-article {
      margin-bottom: 80px;
      font-size:16px;
      line-height:30px;
      color: #747474;
      @media only screen and (max-width: 750px){
        margin-bottom: 40px;
      }
    }
    .lyrical-info-link {
      @media only screen and (max-width: 750px){
       text-align: center;
      }
      a {
        display: inline-block;
        width:240px;
        height:50px;
        background-color: #bf2a24;
        text-align: center;
        font-size:14px;
        color: #fff;
        line-height:50px;
        @media only screen and (max-width: 750px){
          width:120px;
          height:30px;
          line-height:30px;
        }
      }
    }
  }
  // 关于右侧照片墙
  .qualification {
    margin: 50px auto;
    margin-right: 0;
    width: 50%;
    display: flex;
    @media only screen and (max-width: 750px){
      width: 100%;
    }
    // youtube视频播放器
    .youtube-video {
      width: 90%;
      height: 450px;
      padding: 30px 25px;
      background-color: #bf2a24;
      @media only screen and (max-width: 750px){
        width: 100%;
        padding: 15px 10px;
      }
      .video-title {
        // padding: 0 49px;
        width: 100%;
        height: 35px;
        color: #fff;
        background: #BF2A24;
        font-size: 24px;
        text-align: center;
        @media only screen and (max-width: 750px){
          font-size: 14px;
        }
      }
      #player {
        width: 100%;
        height: 350px;
        @media only screen and (max-width: 1680px){
          // height: 645px;
        }
        @media only screen and (max-width: 1600px){
          // height: 650px;
        }
        @media only screen and (max-width: 1336){
          // height: 700px;
        }
        @media only screen and (max-width: 750px){
          // height: 350px;
        }
      }
    }
    // 照片墙左侧
    // .qualification-left {
    //   margin: auto;
    //   margin-left: 0;
    //   width: 60%;
    //   div {
    //     display: flex;
    //     justify-content: flex-end;
    //     .photo-wall-1 {
    //       margin: auto;
    //       margin-bottom: 17px;
    //       margin-right: 16px;
    //       width: 100px;
    //       height: 80px;
    //     }
    //     .photo-wall-6 {
    //       margin: auto 0;
    //       margin-bottom: 11px;
    //       width: 329px;
    //       height: 169px;
    //       @media only screen and (max-width: 1600px){
    //         width: 260px;
    //         height: 140px;
    //       }
    //     }
    //     .photo-wall-3 {
    //       margin-right: 12px;
    //       width: 288px;
    //       height: 169px;
    //       @media only screen and (max-width: 1600px){
    //         width: 260px;
    //         height: 140px;
    //       }
    //     }
    //     .photo-wall-5 {
    //       width: 190px;
    //       height: 291px;
    //       @media only screen and (max-width: 1600px){
    //         width: 190px;
    //         height: 240px;
    //       }
    //     }
    //   }
    // }
    // 照片墙右侧
    // .qualification-right {
    //   margin: auto;
    //   margin-right: 0;
    //   margin-top: 0;
    //   width: 33%;
    //   .photo-wall-4 {
    //     margin-bottom: 14px;
    //     width: 274px;
    //     height: 354px;
    //     @media only screen and (max-width: 1600px){
    //       width: 220px;
    //       height: 300px;
    //     }
    //   }
    //   .photo-wall-2 {
    //     width: 106px;
    //     height: 83px;
    //   }
    // }
  }
}
// 数字滚动区
.countup-area {
  margin-bottom: 85px;
  width: 100%;
  height: 300px;
  background: url(../img/Home/countup.png) center no-repeat;
  background-size: cover;
  color: #fff;
  @media only screen and (max-width: 750px){
    display: none;
  }
  ul {
    display: flex;
    height: 100%;
    li {
      position: relative;
      flex: 1;
      margin: auto;
      text-align: center;
      &::after {
        position: absolute;
        content: '';
        right: 0;
        top: -30px;
        height: 140px;
        width: 1px;
        background-color: #fff;
        opacity: .3;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      >span {
        display: block;
      }
      .countup-num {
        margin-bottom: 23px;
        font-size:39px;
        font-weight:bold;
        line-height:26px;
      }
      .countup-text {
        font-size:18px;
        line-height:23px;
        opacity:0.6;
        @media only screen and (max-width: 1336px){
          font-size:14px;
        }
      }
    }
  }
}
// 男士，女士，配件分类
.classify-type {
  display: flex;
  justify-content: space-around;
  @media only screen and (max-width: 750px){
    flex-direction: column;
  }
  .classify-type-part {
    width: 30%;
    @media only screen and (max-width: 750px){
      margin-bottom: 10px;
      width: 100%;
    }
    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
      .classify-type-mask {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15%;
        text-align: center;
        span {
          color: #fff;
          position: relative;
          top: 30%;
        }
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: .5;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
// Product Zone
.Product-Zone-swiper {
  position: relative;
  .ProductZone-next {
    margin-right: 1%;
    width: 54px;
    height: 130px;
    background-color: #eee;
    background-image: url(../img/Home/zone-next.png) !important;
    background-size: auto;
    top: 30%;
    outline: none;
    @media only screen and (max-width: 750px){
      display: none;
    }
    &:hover {
      background-color: #BF2A24;
      background-image: url(../img/Home/why-next.png) !important;
    }
  }
  .ProductZone-prev {
    margin-left: 1%;
    width: 54px;
    height: 130px;
    background-color: #eee;
    background-image: url(../img/Home/zone-prev.png) !important;
    background-size: auto;
    top: 30%;
    outline: none;
    @media only screen and (max-width: 750px){
      display: none;
    }
    &:hover {
      background-color: #BF2A24;
      background-image: url(../img/Home/why-prev.png) !important;
    }
  }
}
.Product-Zone {
  padding: 80px 0;
  width: 100%;
  padding-bottom: 0;
  @media only screen and (max-width: 750px){
    padding: 20px 0;
    padding-bottom: 0;
    width: 100%;
    height: auto;
    min-height: 350px;
  }
  .part-title {
    margin-bottom: 41px;
    text-align: center;
  }

  .classify-box {
    margin: auto;
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    @media only screen and (max-width: 750px){
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 10px;
    }
  }
  .Zone-classify-item {
    padding: 20px 0;
    width: 23%;
    margin: auto;
    text-align: center;
    border: 1px solid #efefef;
    color: #000;
    font-size: 18px;
    &:hover,
    &.active {
      // border-color: #c2322d;
      border: 2px solid #c2322d;
      color: #c2322d;
    }
    @media only screen and (max-width: 750px){
      width: 30%;
      padding: 10px 0;
      font-size: 14px;
    }
  }
  .Zone-classify-imgs {
    display: none;
    margin-bottom: 100px;
    .Zone-classify-img {
      width: 23%;
      margin: auto;
      @media only screen and (max-width: 750px){
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    &.active {
      display: flex;
      @media only screen and (max-width: 750px){
        flex-direction: column;
      }
    }
  }
    .ProductZone{
      // min-height:540px;
      width:80%;
      margin:auto auto 87px auto;
      position:relative;
      padding-bottom: 30px;
      .swiper-wrapper {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        cursor: pointer;
        .slide-img {
          width: 100%;
          //height: 320px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
          }
        }
        .slide-title {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all .3s;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .5;
          }
          a {
            display: flex;
            width: 100%;
            height: 100%;
          }
          p {
            position: relative;
            margin: auto;
            // height: 1.5rem;
            font-size: 16px;
            padding: 0 15px;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            color: #fff;
            z-index: 1;
          }
        }
        .slide-price {
          margin-bottom: 1rem;
          font-size: 14px;
          .old-price {
            text-decoration: line-through;
            margin-right: 15px;
            color: #ccc;
          }
          .special-price {
            color: #ba0707;
          }
        }
        .slide-operation {
          a {
            color: #ccc;
            display: flex;
            width: 100%;
            line-height: 1rem;
            font-size: 14px;
            span {
              &:first-of-type {
                display: inline-block;
                margin-right: 5px;
                width: 35px;
                height: 35px;
                background-color: #f5f5f5;
                text-align: center;
                border-radius: 50%;
              }
              &:last-of-type {
                display: inline-block;
                line-height: 35px;
              }
            }
            img {
              margin-top: 5px;
            }
          }
        }
        &:hover {
          .slide-title {
            display: block;
          }
        }
      }
      .swiper-pagination-bullets {
        bottom: 0 !important;
      }
      .swiper-pagination-bullet-active {
        background: #BF2A24 !important;
      }
    }
    .ProductZone-pagination {
      bottom: 0;
      left: 0;
      right: 0;
    }
    .roundabout-holder{
      list-style:none;
      width:80%;
      height:100%;
      margin:0px auto;
      span {
        display:none;
      }
    }
    .roundabout-moveable-item{
      height:550px;
      width:480px;
      cursor:pointer;
      border:1px solid #aaaaaa;
      img {
        height:100%;
        width:100%;
        margin:0;
      }
    }
    .roundabout-in-focus{
      cursor:auto;
      &:hover {
        background:#f9f9f9;
        span {
          display:inline;
          position:absolute;
          bottom:5px;
          right:5px;
          padding:8px 20px;
          background:#f9f9f9;
          color:#3366cc;
          z-index:200;
          border-left:1px solid #aaaaaa;
          border-top:1px solid #aaaaaa;
        }
      }
    }
    .roundabout {
      a {
        &:active,
        &:focus,
        &:visited {
          outline:none;
          text-decoration:none;
        }
      }
      li {
        margin:0
      }
    }
  // }
  // 文档下载
  .download-Catalog {
    position: relative;
    display: flex;
    margin: 105px auto;
    width: 100%;
    height: 245px;
    @media only screen and (max-width: 750px){
      display: none;
    }
    >img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    a {
      margin: auto;
      margin-bottom: 50px;
      position: relative;
      display: block;
      padding: 15px 25px;
      color: #40464d;
      font-size: 24px;
      font-family: 'AvenirNext';
      background: #fff;
      .active_icon {
        display: none;
      }
      &:hover {
        background-color: #BF2A24;
        color: #fff;
        .normal_icon {
          display: none;
        }
        .active_icon {
          display: inline-block;
        }
      }
    }
  }
  .why-youtube {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 750px){
      flex-direction: column;
      // padding-bottom: 20px;
    }
    .why-lyrical {
      margin: auto;
      // margin-bottom: 260px;
      // padding: 50px 0;
      padding-top: 90px;
      padding-bottom: 100px;
      // padding-bottom: 160px;
      width: 100%;
      // min-height: 700px;
      overflow: hidden;
      // 新加的
      display: flex;
      background: #f4f4f4;
      @media only screen and (max-width: 1680px){
        // width: 48%;
        height: auto;
        // min-height: 700px;
      }
      @media only screen and (max-width: 1600px){
        // width: 48%;
        height: auto;
        // min-height: 700px;
      }
      @media only screen and (max-width: 750px){
        flex-direction: column;
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
        // margin-bottom: 15px;
        min-height: 500px;
      }
      .why-title {
        margin-bottom: 40px;
        width: 50%;
        height: 60px;
        line-height: 60px;
        padding: 0 49px;
        color: #373737;
        font-size: 24px;
        background: #BF2A24;
        @media only screen and (max-width: 750px){
          width: 100%;
          margin-bottom: 20px;
        }
      }
      .why-info {
        padding-left: 49px;
        padding-right: 63px;
        margin-bottom: 40px;
        font-size: 16px;
        color: #666;
        line-height: 30px;
        @media only screen and (max-width: 750px){
         padding: 0;
        }
      }
      .more-link {
        margin-left: 49px;
        margin-bottom: 50px;
        display: inline-block;
        width: 240px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        background: #BF2A24;
        @media only screen and (max-width: 750px){
          margin-bottom: 25px;
        }
      }
      .why-imgs {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 750px){
          flex-direction: column;
          padding: 0 5px;
        }
        #whyImgBanner {
          width: 100%;
          height: 200px;
          display: flex;
          @media only screen and (max-width: 1600px){
            height: auto;
          }
          @media only screen and (max-width: 750px){
            width: 100%;
            margin-bottom: 10px;
          }
          .swiper-wrapper {
            width: 100%;
            height: 100%;
          }
          .swiper-button-prev,
          .swiper-button-next {
            display: none;
            transition: all .3s;
          }
          &:hover {
            .swiper-button-prev,
            .swiper-button-next {
              display: block;
            }
          }
        }
        img {
          margin: 0;
          width: 100%;
          height: 200px;
          @media only screen and (max-width: 1600px){
            height: auto;
          }
          @media only screen and (max-width: 750px){
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
      // 第二版的
      .why-lyrical-left {
        margin: auto;
        width: 30%;
        @media only screen and (max-width: 750px){
          margin-bottom: 10px;
          width: 95%;
          display: flex;
          flex-wrap: wrap;

        }
      }
      .why-lyrical-center {
        margin: auto;
        width: 30%;
        text-align: center;
        @media only screen and (max-width: 750px){
          display: none;
        }
        img {
          margin-bottom: 20px;
        }
        p {
          font-size: 25px;
          font-weight: 500;
        }
      }
      .why-lyrical-right {
        margin: auto;
        width: 30%;
        @media only screen and (max-width: 750px){
          margin-top: 0;
          width: 95%;
          display: flex;
          flex-wrap: wrap;
        }
      }
      .why-lyrical-item {
        display: flex;
        margin: auto;
        margin-bottom: 10px;
        padding: 0 32px;
        width: 100%;
        height: 80px;
        font-size:14px;
        font-family:Helvetica;
        font-weight:400;
        color: #222;
        border-radius:4px;
        background-color: #fff;
        transition: all .3s;
        @media only screen and (max-width: 750px){
          width: 48%;
          margin-left: 0;
        }
        a {
          margin: auto 0;
          line-height: 24px;
          font-size: 16px;
          @media only screen and (max-width: 750px){
            font-size: 12px;
          }
        }
        &:hover {
          background-color: #BE2A24;
          color: #fff;
        }
      }
      // 第三版
      .why-lyrical-top {
        color: #373737;
        .top-text {
          margin-bottom: 100px;
          text-align: center;
        }
        .why-lyrical-title {
          font-size: 40px;
          font-weight: bold;
          line-height: 70px;
          @media only screen and (max-width: 750px){
            font-size: 25px;
          }
        }
        .why-lyrical-link {
          margin: 15px auto;
          display: block;
          width: 200px;
          height: 40px;
          border-radius: 20px;
          border: 1px solid #373737;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
        }
        .why-lyrical-top-info {
          margin: auto;
          margin-bottom: 70px;
          width: 90%;
          font-size: 16px;
          line-height: 30px;
          color: #747474;
        }
        // 证书和锚点等
        .Certificate-anchor {
          display: flex;
          @media only screen and (max-width: 750px){
            flex-direction: column;
          }
          // 证书轮播
          .Certificate-left {
            width: 50%;
            display: flex;
            @media only screen and (max-width: 750px){
              width: 100%;
              margin-bottom: 15px;
            }
            .Certificate {
              margin: auto;
              width: 80%;
              .swiper-wrapper {
                // width: 80% !important;
                // margin: auto;
                .swiper-slide {
                  // width: 100% !important;
                  // margin: auto;
                  padding: 25px 0;
                  text-align: center;
                  img {
                    max-width: 250px;
                    max-height: 310px;
                    transition: all .3s;
                    &:hover {
                      transform: scale(1.2);
                    }
                  }
                }
              }
              .certificate-prev {
                width: 54px;
                height: 130px;
                // background-color: #63686d;
                background-color: #BF2A24;
                background-image: url(../img/Home/why-prev.png) !important;
                background-size: auto;
                top: 30%;
                @media only screen and (max-width: 750px){
                  display: none;
                }
                &:hover {
                  background-color: #BF2A24;
                }
              }
              .certificate-next {
                width: 54px;
                height: 130px;
                // background-color: #63686d;
                background-color: #BF2A24;
                background-image: url(../img/Home/why-next.png) !important;
                background-size: auto;
                top: 30%;
                @media only screen and (max-width: 750px){
                  display: none;
                }
                &:hover {
                  background-color: #BF2A24;
                }
              }
            }
          }
          // 锚点
          .anchor-right {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            @media only screen and (max-width: 750px){
              width: 100%;
            }
            a {
              position: relative;
              display: flex;
              flex-direction: column;
              width: 145px;
              margin: 0 3%;
              margin-bottom: 35px;
              padding: 10px 0;
              transition: all .3s;
              @media only screen and (max-width: 1336px){
                margin: 0 4%;
              }
              &:hover {
                transform: translateX(10px);
                // box-shadow: 0px 0px 5px #ccc;
              }
              .icon-shell {
                width: 42px;
                height: 42px;
                margin: 0 auto;
                margin-bottom: 25px;
                text-align: center;
                img {
                  margin: auto;
                }
              }
              span {
                margin: 0 auto;
                text-align: center;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
    .youtube-video {
      margin: auto;
      // width: 800px;
      height: 700px;
      @media only screen and (max-width: 1680px){
        margin-top: 0;
        width: 48%;
        height: auto;
        min-height: 700px;
      }
      @media only screen and (max-width: 1600px){
        margin-top: 0;
        width: 48%;
        height: auto;
        min-height: 700px;
      }
      @media only screen and (max-width: 750px){
        width: 100%;
        height: auto;
        min-height: 350px;
      }
      .video-title {
        padding: 0 49px;
        width: 100%;
        height: 70px;
        color: #fff;
        background: #BF2A24;
        font-size: 24px;
        line-height: 70px;
        text-align: center;
        @media only screen and (max-width: 750px){
          text-align: center;
        }
      }
      #player {
        width: 100%;
        height: 630px;
        @media only screen and (max-width: 1680px){
          height: 645px;
        }
        @media only screen and (max-width: 1600px){
          height: 650px;
        }
        @media only screen and (max-width: 1336){
          height: 700px;
        }
        @media only screen and (max-width: 750px){
          height: 350px;
        }
      }
    }
  }
  // 评论展示
  .clients-say {
    position:relative;
    padding: 100px 0;
    width: 100%;
    background-color: #fff;
    .clients-say-sub {
      margin: auto;
      margin-bottom: 30px;
      width: 80%;
      text-align: center;
      font-size: 16px;
      color: #666;
      line-height: 25px;
    }
    .clientsSay {
      width:80%;
      margin:auto;
      position:relative;
      @media only screen and (max-width: 750px){
        width:100%;
      }
      .swiper-slide {
        padding: 15px 5px !important;
        cursor: pointer;
        img {
          width: 100%;
        }
        &:hover {
          img {
            box-shadow: 0px 0px 5px #ccc;
          }
        }
      }
    }
    .clientsSay-swiper {
      position:relative;
      .clientsSay-prev {
        margin-left: 1%;
        width: 54px;
        height: 130px;
        background-color: #eee;
        background-image: url(../img/Home/zone-prev.png) !important;
        background-size: auto;
        top: 30%;
        outline: none;
        @media only screen and (max-width: 750px){
          display: none;
        }
        &:hover {
          background-color: #BF2A24;
          background-image: url(../img/Home/why-prev.png) !important;
        }
      }
      .clientsSay-next {
        margin-right: 1%;
        width: 54px;
        height: 130px;
        background-color: #eee;
        background-image: url(../img/Home/zone-next.png) !important;
        background-size: auto;
        top: 30%;
        outline: none;
        @media only screen and (max-width: 750px){
          display: none;
        }
        &:hover {
          background-color: #BF2A24;
          background-image: url(../img/Home/why-next.png) !important;
        }
      }
    }
  }
}
// OUR PRICES
.our-prices {
  padding: 80PX 0;
  width: 100%;
  background: #f5f5f5;
  .part-title {
    margin-bottom: 40px;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 750px){
     flex-direction: column;
    }
    li {
      display: flex;
      flex-direction: column;
      width: 32%;
      height: 480px;
      border:1px solid #D8D8D8;
      background: #fff;
      text-align: center;
      @media only screen and (max-width: 750px){
        width: 100%;
        margin-bottom: 5px;
      }
      .part-img-box {
        margin: auto;
        margin-bottom: 34px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        background: #BF2A24;
        transition: all .3s ease-out 0s;
      }
      span {
        font-size:14px;
        color: #666;
        line-height:20px;
        &.part-img-title {
          margin-bottom: 30px;
          font-size:24px;
          color: #333;
        }
      }
      a {
        margin: auto;
        display: inline-block;
        width: 200px;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        color: #666;
        text-align: center;
        border: 1px solid #DBDBDB;
        transition: all .3s ease-out 0s;
      }
      &:hover {
        .part-img-box {
          background: #7F7F7F;
        }
        a {
          color: #fff;
          background: #BF2A24;
          border-color: #BF2A24;
        }
      }
    }
  }
}