// 关于lyrical
.about-lyrical {
  width: 100%;
  height: 640px;
  background-color: #fff;
  @media only screen and (max-width: 750px){
    margin-top: 20px;
    height: auto;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  // 关于做的简介
  .lyrical-info {
    margin: auto;
    margin-left: 0;
    width: 40%;
    text-align: left;
    @media only screen and (max-width: 750px){
      margin-bottom: 20px;
      width: 100%;
    }
    .lyrical-info-title {
      margin-bottom: 39px;
      @media only screen and (max-width: 750px){
        margin-bottom: 19px;
        img {
          width: 80%;
        }
      }
    }
    .lyrical-info-subtitle {
      color: #000;
      font-size:18px;
      line-height:30px;
      margin-bottom: 30px;
      @media only screen and (max-width: 750px){
        margin-bottom: 15px;
      }
    }
    .lyrical-info-article {
      margin-bottom: 80px;
      font-size:16px;
      line-height:24px;
      color: #666;
      @media only screen and (max-width: 750px){
        margin-bottom: 40px;
      }
    }
    .lyrical-info-link {
      a {
        display: inline-block;
        width:240px;
        height:50px;
        background-color: #bf2a24;
        text-align: center;
        font-size:14px;
        color: #fff;
        line-height:50px;
        @media only screen and (max-width: 750px){
          width:120px;
          height:30px;
          line-height:30px;
        }
      }
    }
  }
  // 关于右侧照片墙
  .qualification {
    margin: 50px auto;
    margin-right: 0;
    width: 50%;
    display: flex;
    @media only screen and (max-width: 750px){
      display: none;
    }
    // 照片墙左侧
    .qualification-left {
      margin: auto;
      margin-left: 0;
      width: 60%;
      div {
        display: flex;
        justify-content: flex-end;
        .photo-wall-1 {
          margin: auto;
          margin-bottom: 17px;
          margin-right: 16px;
          width: 100px;
          height: 80px;
        }
        .photo-wall-6 {
          margin: auto 0;
          margin-bottom: 11px;
          width: 329px;
          height: 169px;
          @media only screen and (max-width: 1600px){
            width: 260px;
            height: 140px;
          }
        }
        .photo-wall-3 {
          margin-right: 12px;
          width: 288px;
          height: 169px;
          @media only screen and (max-width: 1600px){
            width: 260px;
            height: 140px;
          }
        }
        .photo-wall-5 {
          width: 190px;
          height: 291px;
          @media only screen and (max-width: 1600px){
            width: 190px;
            height: 240px;
          }
        }
      }
    }
    // 照片墙右侧
    .qualification-right {
      margin: auto;
      margin-right: 0;
      margin-top: 0;
      width: 33%;
      .photo-wall-4 {
        margin-bottom: 14px;
        width: 274px;
        height: 354px;
        @media only screen and (max-width: 1600px){
          width: 220px;
          height: 300px;
        }
      }
      .photo-wall-2 {
        width: 106px;
        height: 83px;
      }
    }
  }
}
// 数字滚动区
.countup-area {
  width: 100%;
  height: 300px;
  background: url(../img/Home/countup.png) center no-repeat;
  background-size: cover;
  color: #fff;
  @media only screen and (max-width: 750px){
    display: none;
  }
  ul {
    display: flex;
    height: 100%;
    li {
      position: relative;
      flex: 1;
      margin: auto;
      text-align: center;
      &::after {
        position: absolute;
        content: '';
        right: 0;
        top: -30px;
        height: 140px;
        width: 1px;
        background-color: #fff;
        opacity: .3;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      >span {
        display: block;
      }
      .countup-num {
        margin-bottom: 23px;
        font-size:39px;
        font-weight:bold;
        line-height:26px;
      }
      .countup-text {
        font-size:18px;
        line-height:23px;
        opacity:0.6;
        @media only screen and (max-width: 1336px){
          font-size:14px;
        }
      }
    }
  }
}
// Product Zone
.Product-Zone {
  padding: 80px 0;
  width: 100%;
  @media only screen and (max-width: 750px){
    padding: 20px 0;
    width: 100%;
    height: auto;
    min-height: 350px;
  }
  .part-title {
    margin-bottom: 41px;
    text-align: center;
  }
    #ProductZone{
      height:675px;
      width:100%;
      margin:auto auto 87px auto;
      position:relative;
      @media only screen and (max-width: 750px){
        display: none;
      }
      ul {
        li {
          div {
            width:100%;
            height: 100%;
          }
        }
      }
    }
    .roundabout-holder{
      list-style:none;
      width:80%;
      height:100%;
      margin:0px auto;
      span {
        display:none;
      }
    }
    .roundabout-moveable-item{
      height:550px;
      width:480px;
      cursor:pointer;
      border:1px solid #aaaaaa;
      img {
        height:100%;
        width:100%;
        margin:0;
      }
    }
    .roundabout-in-focus{
      cursor:auto;
      &:hover {
        background:#f9f9f9;
        span {
          display:inline;
          position:absolute;
          bottom:5px;
          right:5px;
          padding:8px 20px;
          background:#f9f9f9;
          color:#3366cc;
          z-index:200;
          border-left:1px solid #aaaaaa;
          border-top:1px solid #aaaaaa;
        }
      }
    }
    .roundabout {
      a {
        &:active,
        &:focus,
        &:visited {
          outline:none;
          text-decoration:none;
        }
      }
      li {
        margin:0
      }
    }
  // }
  .why-youtube {
    display: flex;
    @media only screen and (max-width: 750px){
      flex-direction: column;
    }
    .why-lyrical {
      margin: auto;
      margin-left: 0;
      padding: 50px 0;
      width: 800px;
      height: 700px;
      background: #F5F5F5;
      overflow: hidden;
      @media only screen and (max-width: 1680px){
        width: 48%;
        height: auto;
        min-height: 700px;
      }
      @media only screen and (max-width: 1600px){
        width: 48%;
        height: auto;
        min-height: 700px;
      }
      @media only screen and (max-width: 750px){
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
      }
      .why-title {
        margin-bottom: 40px;
        width: 50%;
        height: 60px;
        line-height: 60px;
        padding: 0 49px;
        color: #fff;
        font-size: 24px;
        background: #BF2A24;
        @media only screen and (max-width: 750px){
          width: 100%;
          margin-bottom: 20px;
        }
      }
      .why-info {
        padding-left: 49px;
        padding-right: 63px;
        margin-bottom: 40px;
        font-size: 16px;
        color: #666;
        line-height: 30px;
        @media only screen and (max-width: 750px){
         padding: 0;
        }
      }
      a {
        margin-left: 49px;
        margin-bottom: 50px;
        display: inline-block;
        width: 240px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        background: #BF2A24;
        @media only screen and (max-width: 750px){
          margin-bottom: 25px;
        }
      }
      .why-imgs {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 750px){
          flex-direction: column;
          padding: 0 5px;
        }
        img {
          margin: 0;
          width: 45%;
          height: 200px;
          @media only screen and (max-width: 1600px){
            height: auto;
          }
          @media only screen and (max-width: 750px){
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
    .youtube-video {
      margin: auto;
      margin-right: 0;
      width: 800px;
      height: 700px;
      @media only screen and (max-width: 1680px){
        margin-top: 0;
        width: 48%;
        height: auto;
        min-height: 700px;
      }
      @media only screen and (max-width: 1600px){
        margin-top: 0;
        width: 48%;
        height: auto;
        min-height: 700px;
      }
      @media only screen and (max-width: 750px){
        width: 100%;
        height: auto;
        min-height: 350px;
      }
      .video-title {
        padding: 0 49px;
        width: 100%;
        height: 70px;
        color: #fff;
        background: #BF2A24;
        font-size: 24px;
        line-height: 70px;
      }
      #player {
        width: 100%;
        height: 630px;
        @media only screen and (max-width: 1680px){
          height: 645px;
        }
        @media only screen and (max-width: 1600px){
          height: 650px;
        }
        @media only screen and (max-width: 1336){
          height: 700px;
        }
        @media only screen and (max-width: 750px){
          height: 350px;
        }
      }
    }
  }
}
// OUR PRICES
.our-prices {
  padding: 80PX 0;
  width: 100%;
  background: #f5f5f5;
  .part-title {
    margin-bottom: 40px;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 750px){
     flex-direction: column;
    }
    li {
      display: flex;
      flex-direction: column;
      width: 32%;
      height: 480px;
      border:1px solid #D8D8D8;
      background: #fff;
      text-align: center;
      @media only screen and (max-width: 750px){
        width: 100%;
        margin-bottom: 5px;
      }
      .part-img-box {
        margin: auto;
        margin-bottom: 34px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        background: #7F7F7F;
        transition: all .3s ease-out 0s;
      }
      span {
        font-size:14px;
        color: #666;
        line-height:20px;
        &.part-img-title {
          margin-bottom: 30px;
          font-size:24px;
          color: #333;
        }
      }
      a {
        margin: auto;
        display: inline-block;
        width: 200px;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        color: #666;
        text-align: center;
        border: 1px solid #DBDBDB;
        transition: all .3s ease-out 0s;
      }
      &:hover {
        .part-img-box {
          background: #BF2A24;
        }
        a {
          color: #fff;
          background: #BF2A24;

        }
      }
    }
  }
}