.my_orders {
    .UserInfo_content {
        .myorder_classification {
            height: 55px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
            overflow: hidden;
            li {
                float: left;
                font-size: 12px;
                color: #666;
                line-height: 55px;
                margin: 0 10px;
                &:first-of-type {
                    margin-left: 20px;
                }
                &.active {
                    font-size: 14px;
                    color: $hover-color;
                    a {
                        display: block;
                        border-bottom: 1px solid $hover-color;
                        height: 45px;
                        span {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }      
        .order_list {
            .order-group {
                .o-pro {
                    table {
                        .col-status {
                            &:hover {
                                color: $hover-color;
                            }
                        }
                        .col-operate {
                            
                        }
                    }
                }
            }
        }
    }
}
