.my_orders {
    .UserInfo_content {
        .myorder_classification {
            height: 55px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
            overflow: hidden;
            li {
                float: left;
                font-size: 12px;
                color: #666;
                line-height: 55px;
                margin: 0 10px;
                &:first-of-type {
                    margin-left: 20px;
                }
                &.active {
                    font-size: 14px;
                    color: $hover-color;
                    a {
                        display: block;
                        border-bottom: 1px solid $hover-color;
                        height: 45px;
                        span {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }      
        .order_list {
            overflow: hidden;
            .order-group {
                .o-pro {
                    table {
                        .col-status {
                            a {
                                &:hover {
                                    color: $hover-color;
                                }   
                            }
                        }
                        .col-operate {
                            min-width: 175px !important;
                            p {
                                display: flex;
                                flex-direction: column;
                                padding: 0 10px;
                            }
                            .reminding_shipments,
                            .confirmation_receipt,
                            .View_evaluation,
                            .Delete_order ,
                            .Buy_again {
                                min-width: 100px !important;
                                height: 30px;
                                padding: 0 10px;
                                border: 1px solid #dcdcdc;
                                border-radius: 2px;
                                line-height: 30px;
                                text-align: center;
                                color: #333;
                                font-size: 14px;
                                font-weight: bold;
                                white-space: nowrap;
                                &:hover {
                                    color: $hover-color;
                                    border-color: $hover-color;
                                }   
                            }
                            .payment {
                                width: 85px !important;
                                height: 30px;
                                border-radius: 2px;
                                line-height: 30px;
                                text-align: center;
                                color: #fff;
                                font-size: 14px;
                                font-weight: bold;
                                background-color: $hover-color;
                            }
                            .count_down {
                                display: inline-block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .pagination {
                width: 1000px;
                margin-top: 30px;
                text-align: right;
                li {
                    display: inline-block;    
                    a,
                    span {
                        display: inline-block;        
                        width: 86px;
                        height: 34px; 
                        color: $hover-color;
                        border: 1px solid $hover-color;
                        border-radius: 2px;
                        text-align: center;
                        line-height: 34px;
                        cursor: pointer;
                        transition: all .2s;
                        padding: 0;
                        margin-left: 5px;
                        background-color: transparent;
                        &:hover {
                            color: #fff;
                            background-color: $hover-color;
                        }
                    }
                    &.disabled {
                        span {
                            color: #777777;
                            background-color: #fff;
                            border-color: #ddd;
                            cursor: not-allowed;
                        }
                    }
                }
                
            }
        }
        .guess_like_content {
            ul {
                overflow: initial !important;
                padding: 0 !important;
                li {
                    margin-left: 0 !important;
                    .collection_shop_img {
                        margin: auto;
                    }
                }
            }
            .swiper-pagination-bullet-active {
                background-color: $hover-color;
            }
        }
    }
}

//订单详情
.orders_details {
    background-color: #f8f8f8;
    position: relative;
    .order_content {
        width: 1000px;
        float: right;
        min-height: 595px;
        background-color: transparent;
        margin-bottom: 40px;
        .order_info {
            height: 145px;
            width: 100%;
            background-color: #fff;
            .order_status_opera {
                margin-top: 25px;
                margin-left: 35px;
                min-width: 280px;
                .pending_delivery {
                    margin-top: 15px;
                }
                p {
                    margin: 5px 0;
                    color: #999;
                    font-size: 14px;
                    .order_status_tips {
                        font-size: 16px;
                        color: $hover-color;
                        font-weight: 600;
                    }
                    &.cunt_down {
                        font-size: 12px;
                    }
                    img {
                        margin-top: -5px;
                    }
                }
                .operation_area {
                    margin-top: 10px;
                    a {
                        display: inline-block;
                        min-width: 88px;
                        height: 32px;
                        margin-right: 15px;
                        border: 1px solid #ebebeb;
                        border-radius: 2px;
                        line-height: 32px;
                        text-align: center;
                        font-size: 12px;
                        cursor: pointer;
                        color: #666;
                        padding: 0 10px;
                        &:hover {
                            color: $hover-color;
                            border-color: $hover-color;
                        }
                        &.main_operation {
                            color: #fff;
                            background-color: $hover-color;
                            border: 1px solid $hover-color;
                            &:hover {
                                background-color: #9f7754;
                                border: 1px solid #9f7754;
                            }
                        }
                    }
                }
            }
            .number_infor {
                margin-top: 10px;
                margin-right: 30px;
                position: relative;
                &:before {
                    content: '';
                    height: 110px;
                    width: 1px;
                    background-color: #ebebeb;
                    position: absolute;
                    top: 10px;
                    left: -65px;
                }
                p {
                    margin: 10px 0;
                    font-size: 12px;
                    color: #666;
                    span {
                        display: inline-block;
                        min-width: 105px;
                        text-align: left;
                        &.title {
                            text-align: right;
                        }
                    }
                }
            }
        }
        .logistics_infor {
            margin-top: 30px;
            min-height: 300px;
            background-color: #fff;
            .logistics_title {
                width: 1000px;
                height: 40px;
                text-align: left;
                padding: 0 10px;
                line-height: 40px;
                font-size: 12px;
                color: #666;
                background-color: #f0f0f0;
            }
            .logistics_lists {
                width: 1000px;
                padding: 30px 20px;
                padding-top: 20px;
                text-align: left;
                font-size: 12px;
                color: #666;
                li {
                    margin: 10px 0;
                }
            }
            .no_img {
                text-align: center;
                img {   
                    margin-bottom: 15px;
                }
            }
        }
        .order_list {
            width: 1000px;
            min-height: 520px;
            background-color: #fff;
            margin-top: 25px;
            .ordertable_title {

            }
            table {
                width: 100%;
                font-size: 12px;
                thead {
                    th {
                        height: 40px;
                        background-color: #f0f0f0;
                        text-align: center;
                        font-size: 12px;
                    }
                }
                tbody {
                    td {
                        height: 110px;
                        border-bottom: 1px solid #ebebeb;
                        text-align: center;
                        font-size: 12px;
                        p {
                            padding: 0 20px;
                        }
                        &.col-pay,
                        &.col-status {
                            border-left: 1px solid #ebebeb;
                            width: 190px;
                        }
                        &.col-pro-img {
                            width: 100px;
                            img {
                                margin-left: 15px;
                                width: 80px;
                                height: 80px;
                            }
                        }
                        &.col-pro-info {
                            text-align: left;
                            width: 320px;
                            .p-info {
                                padding-left: 10px;
                            }
                        }
                        &.col-pay {
                            font-size: 14px;
                            color: $hover-color;
                            font-weight: 600;
                        }
                    }
                }
            }
            .order_settlement {
                text-align: right;
                margin-top: 35px;
                margin-right: 20px;
                p {
                    margin: 10px 0;
                    font-size: 12px;
                    &.total_cost {
                        color: $hover-color;
                        .cost_of_total {
                            font-size: 22px;
                        }
                    }
                    span {
                        display: inline-block;
                        min-width: 105px;
                        text-align: left;
                        &.title {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
   
}
