.register-content {
  padding-bottom: 30px;
  form {
    margin: 20px auto;
    ul {
      li {
        margin-bottom: 20px;
      }
    }
    p {
      font-weight: bold;
      position: relative;
      z-index: 0;
      margin: 0 0 2px 0;
      font-size: 14px;
    }
    select,
    input {
      width: 260px;
      height: 36px;
      padding: 8px;
      text-overflow: ellipsis;
      background: #fff;
      border: 0;
      border-bottom: 1px dashed #c9caca;
      color: #888;
      outline: none;
    }
    .generate_code {
      width: 125px;
      height: 36px;
      background-color: #7ca442;
      color: #fff;
      border-radius: 2px;
      margin: 5px 0;
      text-indent: 0;
      border: none;
    }
  }
  .agreement_content {
    a {
      color: $hover-color;
    }
  }
  .btn_dialog {
    display: block;
    margin: 20px 0;
    width: 180px;
    border: 1px solid $hover-color;
    background: none;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: $hover-color;
      color: #fff;
    }
  }
  .login_btn {
    &:hover {
      color: $hover-color;
    }
  }
}