.User_addresses {
    background-color: #f8f8f8;
    position: relative;
    .user_addresses_content {
        min-height: 595px;
        background-color: #fff;
        width: 1000px;
        float: right;
        margin-bottom: 55px;
        .no_addressList {
            width: 100%;
            text-align: center;
            img {
                margin-top: 110px;
                margin-bottom: 45px;
            }
            p {
                font-size: 16px;
                color: #666;
                margin-bottom: 10px;
            }
        }
        .new_address {
            font-size: 12px;
            color: #87b53b;
            cursor: pointer;
        }
        .address_note {
            overflow: hidden;
            margin-top: 40px;
            font-size: 14px;
            padding: 0 15px;
            margin-bottom: 20px;
            .pull-left {
                color: #333;
                font-weight: bold;
            }
        }
        .address_list {
            padding: 0 15px;
            margin-bottom: 50px;
            table {
                border-top: 1px solid #ebebeb;
                width: 100%;
                font-size: 14px;
                thead {
                    background: #f0f0f0;
                    tr {
                        border: 1px solid #ebebeb;
                        border-top: 0px;
                        th {
                            height: 40px;
                            line-height: 40px;
                            &.address_name {
                                width: 150px;
                                text-align: left;
                                padding-left: 20px;
                            }
                            &.address_info {
                                width: 300px;
                                text-align: center;
                                word-wrap:break-word;
                            }
                            &.address_tel,
                            &.address_operation {
                                width: 135px;
                                text-align: center;
                            }
                        }
                    }
                }  
                tbody {
                    tr {
                        border: 1px solid #ebebeb;
                        border-top: 0px;
                        td {
                            height: 110px;
//                          line-height: 0px;
                            &.address_name {
                                width: 150px;
                                text-align: left;
                                padding-left: 20px;
                            }
                            &.address_info {
                                width: 300px;
                                text-align: left;
                                word-wrap:break-word;
                            }
                            &.address_tel,
                            &.address_operation {
                                width: 200px;
                                text-align: center;
                            }
                            &.address_operation,
                            &.default_address {
                                color: $commom-color;
                                cursor: pointer;
                                a {
                                    margin: 0 13px;
                                    &.haddefault {
                                        display: inline-block;
                                        width: 96px;
                                        height: 28px;
                                        line-height: 28px;
                                        color: #c59c79;
                                        border: 1px solid #c59c79;
                                        border-radius: 2px;
                                        background-color: #fdf4ec;
                                    }
                                }
                            }
                            &.default_address {
                                width: 122px;
                                text-align: center;
                            }
                        }
                    }
                } 
            }
        }
    }
}
.new_receipt_address,
.edit_harvest_address {
        .dialog_content {
            .textarea_content {
                form {
                    ul {
                        padding: 0 30px;
                        li {
                            margin: 15px 0;
                            overflow: hidden;
                            span {
                                float: left;
                                margin-right: 10px;
                            }
                            textarea {
                                float: left;
                            }
                            textarea ~label {
                                float: left;
                                margin-top: 80px;
                                margin-left: -530px;
                            }
                            p {
                                float: left;
                                span {
                                    margin-right: 10px;
                                }
                                input {
                                    float: left;
                                    &.user_name {
                                        margin-left: 13px;
                                        margin-right: 45px;
                                    }
                                    &.user_name ~label {
                                        margin-top: 45px;
                                        float: left;
                                        margin-left: -240px;
                                    }
                                    &.user_tel {
                                        margin: 0;
                                    }
                                    &.user_tel ~label {
                                        margin-top: 45px;
                                        float: left;
                                        margin-left: -200px;
                                    }
                                }
                            }
                            .default_address_set {
                                overflow: hidden;
                                line-height: 23px;
                                margin-left: 85px;
                                position: relative;
                                .setas_default {
                                    outline: none;
                                    appearance: none;
                                    -webkit-appearance: none;
                                    vertical-align:middle;    
                                    margin-top:0;    
                                    background:#fff;    
                                    border:#c3c5c0 solid 1px;    
                                    border-radius: 2px;    
                                    height: 20px;    
                                    width: 20px;
                                    float: left;
                                    margin-right: 5px;
                                    margin-top: 5px;
                                    &:checked {
                                        border-color: #7CA442;
                                        &:after {
                                            content: '';    
                                            top: 8px;    
                                            left: 4px;    
                                            position: absolute;    
                                            background: transparent;    
                                            border: #7CA442 solid 2px;    
                                            border-top: none;    
                                            border-right: none;    
                                            height: 8px;    
                                            width: 14px;    
                                            -moz-transform: rotate(-45deg);    
                                            -ms-transform: rotate(-45deg);    
                                            -webkit-transform: rotate(-45deg);     
                                            transform: rotate(-45deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }   
        }
}

