.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    border-top: 1px solid #d1d1d1;
    padding: .5rem 0 .2rem;
    img{
        width: 1.2rem;
        margin: auto;
    }
    span{
        font-size: .75rem;
        margin-top: .2rem;
    }
    .itemsF{
        display: flex;
        flex-direction: column;
        width: 25%;
        justify-content: center;
        text-align: center;
        &.itemsG {
            position: relative;
            label {
                position: absolute;
                top: -0.2rem;
                right: 2rem;
                width: 1.2rem;
                height: 1.2rem;
                line-height: 1.3rem;
                text-align: center;
                font-size: .7rem;
                background: #ff8739;
                color: #fff;
                border-radius: 1rem;
            }
        }
        .item_bg {
            width: 1rem;
            height: 1rem;
            background: url('../img/footer_icon.png') center no-repeat;
            overflow: hidden;
            background-size: 1rem;
            margin: auto;
            &.itemsS_bg {
                background-position: 0 0;
                &.active {
                    background-position: 0 -1rem;
                }
            }
            &.itemsL_bg {
                background-position: 0 -2rem;
                &.active {
                    background-position: 0 -3rem;
                }
            }
            &.itemsG_bg {
                background-position: 0 -4rem;
                &.active {
                    background-position: 0 -5rem;
                }
            }
            &.itemsW_bg {
                background-position: 0 -6rem;
                &.active {
                    background-position: 0 -7rem;
                }
            }
        }
    }
}
.itemsActive{
    color: #bc8c61;
}
