.orderBox{
    background: #f4f4f4;
    .orderHeadTop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        height: 6rem;
        .orderHead{
            padding: 0 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            div{
                padding: 1rem 0;
                
            }
            .orderActive{
                border-bottom: 2px solid #c39a75;
                font-size: 1rem;
            }
        }
    }
    .orderMain{
        margin-top: 6rem;
        background: #f4f4f4;
        padding: .7rem 0 0;
        .no_order {
            text-align: center;
            background-color: #fff;
            margin-top: -.7rem;
            vertical-align: middle;
            img{
                margin-top: 50%;
            }
            p {
                font-size: 1rem;
                color: #666;
                margin: .6rem;
            }
            a {
                font-size: .7rem;
                color: #87b53b;
            }
        }
        .orderItem{
            background: #fff;
            margin-bottom: .7rem;
            .orderItemH{
                padding: .5rem 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .orderItemState{
                    color: #c39a75;
                }
            }
            .orderItemDetail{
                display: flex;
                flex-direction: row;
                justify-content:  flex-start;
                align-items: center;
                background: #f3f3f3;
                padding:.5rem 1rem;
                img{
                    width: 4rem;
                    height: 4rem;
                    margin-right: 1rem;
                    
                }
                .orderDal{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                    .orderIntroduce{
                        .goodsName{
                            font-size: .95rem;
                            width: 12rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        @media screen and (max-width: 325px) {
                            .goodsName{
                                font-size: .95rem;
                                width: 9rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        @media screen and (min-width: 376px){
                            .goodsName{
                                font-size: .95rem;
                                width: 14rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        .goodsSku{
                            color: #999999;
                        }
                    }
                    .orderPrice{
                        text-align: right;
                        .orderItemNum{
                            color: #999;
                        }
                    }
                }
            }
            .orderItemTotle{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: .5rem 1rem;
                border-bottom: 1px solid #e0e0e0;
                .orderCen{
                    margin: 0 .5rem;
                }
            }
            .orderBtns{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: .5rem 1rem;
                .orderBtnS{
                    background: #fff;
                    color: #c39a75;
                    border: 1px solid #c39a75;
                    border-radius: 1rem;
                    font-size: .65rem;
                    padding: .25rem .6rem .2rem;
                    margin-left: .5rem;
                }
                .orderBtnC{
                    background: #fff;
                    color: #666666;
                    border: 1px solid #666666;
                    border-radius: 1rem;
                    font-size: .65rem;
                    padding: .25rem .6rem .2rem;
                }
            }
        }
    }
}
