@media screen and (max-width: 325px){
    .regMain{
        padding-top: 4rem;
        .formBox{
               margin-top: 4rem;
            }
            .downBox{
                bottom: .5rem;
            }
        }
}
.regMain{
    
    .formBox{
        
        .phoneBox{
            width: 100%;
            border-bottom: 1px solid #dcdcdc;
            padding-bottom: .7rem;
            padding-left: .3rem;
            position: relative;
            margin-top: 1.7rem;
            position: relative;
            .fImg{
                width: .8rem;
                vertical-align: text-top;
            }
            .selCountry{
                width: 1rem;
                border: none;
                opacity: 0;
            }
            .valSpan{
                display: inline-block;
                border-left:1px solid #e0e0e0 ;
                height: 1.2rem;
                padding-left: .2rem;
                color: #ababab;
                margin-left: -.3rem;
                position: absolute;
                bottom: .8rem;
            }
            .phoneIpt{
                border: none;
                padding-left: 0;
                margin-left: 1.5rem;
            }
            .tipBox{
                float: right;
                font-size: .65rem;
                color: #bd8e64;
                position: absolute;
                right: 0;
                bottom: .8rem;
                img{
                    width: .7rem;
                    vertical-align: middle;
                }  
                .tipSpan{
                    vertical-align: middle;
                }
            }
            .triangle{
                width: 0;
                height: 0;
                border-width: 5px;
                border-style: solid;
                border-color: #c4c6c1 transparent transparent transparent;
                position: absolute;
                top: .7rem;
                left: 1.3rem;
            }
        }
        .codeBox{
            width: 100%;
            border-bottom: 1px solid #dcdcdc;
            padding-bottom: .7rem;
            padding-left: .3rem;
            position: relative;
            margin-top: 1.7rem;
            .fImg{
                width: .9rem;
                vertical-align: middle;
            }
            .codeIpt{
                border: none;
                width: 49%;
            }
            .getYBox{
                float: right;
                font-size: .65rem;
                width: 6rem;
                text-align: center;
                position: absolute;
                bottom: .4rem;
                right: 0;
                height: 2.2rem;
                line-height: 2.2rem;
                .getY{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    background: #7ca443;
                    color: #fff;
                    border-radius: 1.5rem;
                }
                .cutTime{
                    display: none;
                    width: 100%;
                    height: 100%;
                    background: #f5f7f4;
                    color: #c3c5c0;
                    border-radius: 1.5rem;
                    font-size: .85rem;
                }
            }
        }
    }   
}
