// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";



// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// 通用样式
html{
    font-size: 16px;
    font-family: "微软雅黑";
    
}
 a:link{text-decoration:none;color: #000; }
 a:visited{text-decoration:none;color: #000; }
 a:active{text-decoration:none;color: #000; }
 a:hover{text-decoration:none;color: #000; }
 input{
     padding-left: .5rem;
     border: none;
 }
 input::-webkit-input-placeholder {
      /* placeholder颜色  */
     color: #ababab;
}
.must:before {
  content: "*";
  color: #f95b5c;
}
//部分页面头标题样式
.headerBar{
    padding: .6rem 1rem;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    img{
        width: .6rem;
    }
    span{
        display: inline-block;
        width: 94%;
        text-align: center;
        font-size: 1rem;
    }
}
@import "footer";
@import "index";
@import "login";
@import "register";
@import "success";
@import "user";
@import "user";
@import "orderList";
@import "address";
@import "favourites";
@import "orderDetail";
@import "comment";
