// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";



// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// 通用样式
html{
    font-size: 16px;
    font-family: "微软雅黑";
}
 a:link{text-decoration:none; }
 a:visited{text-decoration:none; }
 a:active{text-decoration:none; }
 a:hover{text-decoration:none; }
 input{
     padding-left: .5rem;
 }
 input::-webkit-input-placeholder {
      /* placeholder颜色  */
     color: #ababab;
}
@import "footer";
@import "index";
@import "login";
@import "register";
@import "success";
@import "user";
